In [1]:
from itertools import product
import pandas as pd

df1 = pd.DataFrame({'Dates': ['Date0', 'Date1', 'Date2', 'Date3']})

df2 = pd.DataFrame({'Titles': ['Manager', 'Director', 'Associates']})

In [7]:
prod = product(df1['Dates'], df2['Titles'])

In [8]:
pd.DataFrame(list(prod),columns=['Date','Title'])

     Date       Title
0   Date0     Manager
1   Date0    Director
2   Date0  Associates
3   Date1     Manager
4   Date1    Director
5   Date1  Associates
6   Date2     Manager
7   Date2    Director
8   Date2  Associates
9   Date3     Manager
10  Date3    Director
11  Date3  Associates

In [5]:
df2

       Titles
0     Manager
1    Director
2  Associates