# Webscraping 2.0

Joseph Nelson, DC

In today's codealong, I'll walkthrough how to build a scraper using urllib and BeautifulSoup. We'll discover the problems we discussed in the lesson readme associated with doing so, and we'll remedy this problem using a headless browser called Selenium.

In [67]:
# import
from selenium import webdriver
from time import sleep
from bs4 import BeautifulSoup
import urllib

## Data_scientist_DC_75_entry

In [68]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$75,000&l=%22Washington,+DC%22&radius=100&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 75000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_75_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_75_entry

,Company_name,Location,Salary,Title,Experience
0,Predictive Science,United States,75000.0,Data_Scientist,Entry_level
1,Engility Corporation,"Bethesda, MD 20892",75000.0,Data_Scientist,Entry_level
2,Massachusetts Institute of Technology ...,"Provost, VA",75000.0,Data_Scientist,Entry_level
3,Booz Allen Hamilton,"Washington, DC",75000.0,Data_Scientist,Entry_level
4,Booz Allen Hamilton,"Washington, DC",75000.0,Data_Scientist,Entry_level
5,Booz Allen Hamilton,"Alexandria, VA",75000.0,Data_Scientist,Entry_level
6,University of Virginia,"Charlottesville, VA",75000.0,Data_Scientist,Entry_level
7,Vox Media,"Washington, DC",75000.0,Data_Scientist,Entry_level
8,Deloitte,"Arlington, VA 22209 (Radnor-Ft Myer Heights area)",75000.0,Data_Scientist,Entry_level
9,Booz Allen Hamilton,"Alexandria, VA",75000.0,Data_Scientist,Entry_level
10,Grant Thornton,"Alexandria, VA 22314 (Southwest Quadrant area)",75000.0,Data_Scientist,Entry_level
11,Booz Allen Hamilton,"Chantilly, VA 20151",75000.0,Data_Scientist,Entry_level
12,Booz Allen Hamilton,"McLean, VA",75000.0,Data_Scientist,Entry_level
13,Gryphon Scientific,"Takoma Park, MD",75000.0,Data_Scientist,Entry_level
14,IBM Kenexa,"Washington, DC",75000.0,Data_Scientist,Entry_level
15,Jobspring Partners,"Washington, DC 20005 (Logan Circle area)",75000.0,Data_Scientist,Entry_level
16,SAIC,"McLean, VA",75000.0,Data_Scientist,Entry_level
17,CACI,"Washington, DC 20001 (Shaw area)",75000.0,Data_Scientist,Entry_level
18,Lockheed Martin,"Rockville, MD",75000.0,Data_Scientist,Entry_level
19,Cubic Corporation,"Tidewater, VA",75000.0,Data_Scientist,Entry_level
20,IBM,"Washington, DC 20005 (Logan Circle area)",75000.0,Data_Scientist,Entry_level
21,"PKW Associates, Inc","Reston, VA",75000.0,Data_Scientist,Entry_level
22,Trinity Global Consulting,"Springfield, VA",75000.0,Data_Scientist,Entry_level
23,Engility Corporation,"Bethesda, MD 20892",75000.0,Data_Scientist,Entry_level
24,Next Step Systems,"Washington, DC",75000.0,Data_Scientist,Entry_level
25,Booz Allen Hamilton,"McLean, VA",75000.0,Data_Scientist,Entry_level
26,CCRi,"Charlottesville, VA",75000.0,Data_Scientist,Entry_level
27,Accenture,"Rosslyn, VA",75000.0,Data_Scientist,Entry_level
28,"Synchronoss Technologies, Inc.","Reston, VA",75000.0,Data_Scientist,Entry_level
29,Synchronoss,"Reston, VA",75000.0,Data_Scientist,Entry_level
30,Veteran Staffing Network of Easter Seals,"McLean, VA",75000.0,Data_Scientist,Entry_level
31,Whiteboard Federal Technologies,"Herndon, VA",75000.0,Data_Scientist,Entry_level
32,SRL TotalSource LLC,"Washington, DC",75000.0,Data_Scientist,Entry_level
33,Encore Search Partners,"Reston, VA",75000.0,Data_Scientist,Entry_level
34,Mitre Corporation,"McLean, VA",75000.0,Data_Scientist,Entry_level
35,Systems & Technology Research,"Arlington, VA 22203 (Bluemont area)",75000.0,Data_Scientist,Entry_level
36,AboutWeb LLC,"Vienna, VA 22182",75000.0,Data_Scientist,Entry_level
37,WhiteHawk Inc.,"Baltimore, MD",75000.0,Data_Scientist,Entry_level
38,Logistics Management Institute,"McLean, VA",75000.0,Data_Scientist,Entry_level
39,Bechtel,"Reston, VA",75000.0,Data_Scientist,Entry_level
40,ROI Checker,"Vienna, VA 22180",75000.0,Data_Scientist,Entry_level
41,Jobspring Partners,"McLean, VA",75000.0,Data_Scientist,Entry_level
42,"Commonwealth Computer Research, Inc.","Charlottesville, VA 22901 (29 North area)",75000.0,Data_Scientist,Entry_level
43,Berico Technologies,"Gaithersburg, MD",75000.0,Data_Scientist,Entry_level
44,Intelligent Automation,"Rockville, MD 20855",75000.0,Data_Scientist,Entry_level
45,Capital One,"McLean, VA",75000.0,Data_Scientist,Entry_level
46,"Synchronoss Technologies, Inc.","Reston, VA",75000.0,Data_Scientist,Entry_level
47,Booz Allen Hamilton,"Alexandria, VA",75000.0,Data_Scientist,Entry_level
48,Sphere of Influence,"McLean, VA",75000.0,Data_Scientist,Entry_level
49,All-In Analytics,"Washington, DC",75000.0,Data_Scientist,Entry_level
50,PAE,"Falls Church, VA 22043",75000.0,Data_Scientist,Entry_level
51,Whiteboard Federal Technologies,"Chantilly, VA",75000.0,Data_Scientist,Entry_level
52,Sphere of Influence,"McLean, VA 22102",75000.0,Data_Scientist,Entry_level
53,Selby Jennings,"Alexandria, VA",75000.0,Data_Scientist,Entry_level
54,BridgeView IT,"Reston, VA",75000.0,Data_Scientist,Entry_level
55,PAE,"Reston, VA",75000.0,Data_Scientist,Entry_level
56,The Select Group,"Reston, VA",75000.0,Data_Scientist,Entry_level
57,Zoomdata,"Reston, VA",75000.0,Data_Scientist,Entry_level

In [140]:
result_SF_140_senior.head()

,Company_name,Location,Salary,Title,Experience
0,Hired,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
1,Sigmaways,"Palo Alto, CA",140000.0,Data_Scientist,Senior_level
2,Change.org,"San Francisco, CA 94103 (South Of Market area)",140000.0,Data_Scientist,Senior_level
3,TEKsystems,"San Francisco, CA 94103 (South Of Market area)",140000.0,Data_Scientist,Senior_level
4,Gap Inc. Corporate,"San Francisco, CA",140000.0,Data_Scientist,Senior_level

## Data_scientist_DC_75_mid

In [69]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$75,000&l=%22Washington,+DC%22&radius=100&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 75000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_75_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_75_mid

,Company_name,Location,Salary,Title,Experience
0,"The Verity Group, LLC","Alexandria, VA",75000.0,Data_Scientist,Mid_level
1,DataLab USA,"Germantown, MD 20876",75000.0,Data_Scientist,Mid_level
2,All Things Considered Staffing (ATC-S),"Washington, DC",75000.0,Data_Scientist,Mid_level
3,Excella Consulting,"Washington, DC 20006 (Foggy Bottom area)",75000.0,Data_Scientist,Mid_level
4,Booz Allen Hamilton,"Washington, DC",75000.0,Data_Scientist,Mid_level
5,xometry,"Bethesda, MD",75000.0,Data_Scientist,Mid_level
6,Verizon,"Silver Spring, MD 20904",75000.0,Data_Scientist,Mid_level
7,Barbaricum,"Washington, DC",75000.0,Data_Scientist,Mid_level
8,Deutsche Bank,"Washington, DC",75000.0,Data_Scientist,Mid_level
9,Applied Information Sciences,"Washington, DC",75000.0,Data_Scientist,Mid_level
10,CACI,"Charlottesville, VA 22909 (North East area)",75000.0,Data_Scientist,Mid_level
11,Agilent,"Wilmington, DE",75000.0,Data_Scientist,Mid_level
12,Oscar Technology,"Baltimore, MD",75000.0,Data_Scientist,Mid_level
13,University of Maryland Medical System,"Linthicum Heights, MD 21090",75000.0,Data_Scientist,Mid_level
14,Centra Technology,"Arlington, VA",75000.0,Data_Scientist,Mid_level
15,Novetta,"Crystal City, VA",75000.0,Data_Scientist,Mid_level
16,ASRC Federal,"Alexandria, VA",75000.0,Data_Scientist,Mid_level
17,DataRobot,"Washington, DC",75000.0,Data_Scientist,Mid_level
18,Vencore,"McLean, VA",75000.0,Data_Scientist,Mid_level
19,The Johns Hopkins Applied Physics Labo...,"Laurel, MD",75000.0,Data_Scientist,Mid_level
20,QxBranch,"Washington, DC",75000.0,Data_Scientist,Mid_level
21,KPMG,"Washington, DC 20036 (Downtown area)",75000.0,Data_Scientist,Mid_level
22,Novetta,"Springfield, VA",75000.0,Data_Scientist,Mid_level
23,Information Innovators Inc.,"Alexandria, VA",75000.0,Data_Scientist,Mid_level
24,CAVA,"Washington, DC 20009 (U Street Corridor area)",75000.0,Data_Scientist,Mid_level
25,Applied Communication Sciences,"Washington, DC",75000.0,Data_Scientist,Mid_level
26,American Society of Clinical Oncology,"Alexandria, VA",75000.0,Data_Scientist,Mid_level
27,Booz Allen Hamilton,"Alexandria, VA",75000.0,Data_Scientist,Mid_level
28,TransVoyant,"Alexandria, VA 22303",75000.0,Data_Scientist,Mid_level
29,Leidos,"Reston, VA 20191",75000.0,Data_Scientist,Mid_level
...,...,...,...,...,...
75,PureIntegration,"Dulles, VA",75000.0,Data_Scientist,Mid_level
76,Capital One,"McLean, VA",75000.0,Data_Scientist,Mid_level
77,Apex Systems Inc,"Charlottesville, VA",75000.0,Data_Scientist,Mid_level
78,Reperio Inc.,"Washington, DC 20005 (Logan Circle area)",75000.0,Data_Scientist,Mid_level
79,In-Q-Tel,"Arlington, VA 22201 (Lyon Village area)",75000.0,Data_Scientist,Mid_level
80,Capital One,"Vienna, VA",75000.0,Data_Scientist,Mid_level
81,"Digital Management, Inc.","Lexington Park, MD",75000.0,Data_Scientist,Mid_level
82,Capital One,"McLean, VA",75000.0,Data_Scientist,Mid_level
83,Capital One,"McLean, VA",75000.0,Data_Scientist,Mid_level
84,Praxis Engineering,"Reston, VA",75000.0,Data_Scientist,Mid_level
85,Coverent,"Reston, VA",75000.0,Data_Scientist,Mid_level
86,The Stratagem Group,"Alexandria, VA",75000.0,Data_Scientist,Mid_level
87,Vencore,"Silver Spring, MD",75000.0,Data_Scientist,Mid_level
88,Engility Corporation,"Reston, VA 20191",75000.0,Data_Scientist,Mid_level
89,"The Verity Group, LLC","Alexandria, VA",75000.0,Data_Scientist,Mid_level
90,CAVA,"Washington, DC 20009 (U Street Corridor area)",75000.0,Data_Scientist,Mid_level
91,Merkle Inc.,"Columbia, MD 21046",75000.0,Data_Scientist,Mid_level
92,The Wallach Search Group,"Washington, DC",75000.0,Data_Scientist,Mid_level
93,WhiteHawk Inc.,"Baltimore, MD",75000.0,Data_Scientist,Mid_level
94,All-In Analytics,"Washington, DC",75000.0,Data_Scientist,Mid_level
95,ERPi,"Washington, DC",75000.0,Data_Scientist,Mid_level
96,Capital One,"Vienna, VA",75000.0,Data_Scientist,Mid_level
97,Zoomdata,"Reston, VA",75000.0,Data_Scientist,Mid_level
98,Mitre Corporation,"Annapolis Junction, MD 20701",75000.0,Data_Scientist,Mid_level
99,Socrata,"Washington, DC",75000.0,Data_Scientist,Mid_level
100,Capital One,"McLean, VA",75000.0,Data_Scientist,Mid_level
101,"Bluehawk, LLC","Alexandria, VA",75000.0,Data_Scientist,Mid_level
102,Zoomdata,"Reston, VA",75000.0,Data_Scientist,Mid_level
103,Engility Corporation,"Reston, VA 20191",75000.0,Data_Scientist,Mid_level
104,"The Upside Travel Company, LLC","Washington, DC",75000.0,Data_Scientist,Mid_level

## Data_scientist_DC_75_senior

In [70]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$75,000&l=%22Washington,+DC%22&radius=100&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 75000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_75_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_75_senior

,Company_name,Location,Salary,Title,Experience
0,QuintilesIMS,"Collegeville, PA",75000.0,Data_Scientist,Senior_level
1,TD Bank,"Mount Laurel, NJ",75000.0,Data_Scientist,Senior_level
2,Leidos,"Washington, DC",75000.0,Data_Scientist,Senior_level
3,PricewaterhouseCoopers LLC,"Washington, DC 20001 (Shaw area)",75000.0,Data_Scientist,Senior_level
4,IMTAS,"Washington, DC 20001 (Shaw area)",75000.0,Data_Scientist,Senior_level
5,Information Innovators Inc.,"Washington, DC",75000.0,Data_Scientist,Senior_level
6,Cubic Corporation,"Arlington, VA",75000.0,Data_Scientist,Senior_level
7,ITDC,"Washington, DC",75000.0,Data_Scientist,Senior_level
8,Booz Allen Hamilton,"Washington, DC",75000.0,Data_Scientist,Senior_level
9,Vencore,"McLean, VA",75000.0,Data_Scientist,Senior_level
10,Booz Allen Hamilton,"Washington, DC",75000.0,Data_Scientist,Senior_level
11,Applied Communication Sciences,"College Park, MD",75000.0,Data_Scientist,Senior_level
12,Booz Allen Hamilton,"Alexandria, VA",75000.0,Data_Scientist,Senior_level
13,Booz Allen Hamilton,"Alexandria, VA",75000.0,Data_Scientist,Senior_level
14,The Aerospace Corporation,"Crystal City, VA",75000.0,Data_Scientist,Senior_level
15,"SnagAJob.com, Inc","Arlington, VA 22201 (Lyon Village area)",75000.0,Data_Scientist,Senior_level
16,"TechGuard Security, LLC","Springfield, VA",75000.0,Data_Scientist,Senior_level
17,Booz Allen Hamilton,"McLean, VA",75000.0,Data_Scientist,Senior_level
18,Knowesis Inc.,"Arlington, VA 22201 (Lyon Village area)",75000.0,Data_Scientist,Senior_level
19,Leidos,"Springfield, VA 22151",75000.0,Data_Scientist,Senior_level
20,CACI,"Charlottesville, VA 22909 (North East area)",75000.0,Data_Scientist,Senior_level
21,Lotame,"Columbia, MD 21045",75000.0,Data_Scientist,Senior_level
22,Leidos,"Springfield, VA",75000.0,Data_Scientist,Senior_level
23,Vencore,"College Park, MD",75000.0,Data_Scientist,Senior_level
24,Mitre Corporation,"Bethesda, MD",75000.0,Data_Scientist,Senior_level
25,Booz Allen Hamilton,"Alexandria, VA",75000.0,Data_Scientist,Senior_level
26,Technica Corporation,"Dulles, VA",75000.0,Data_Scientist,Senior_level
27,"Apogee Integration, LLC","Reston, VA",75000.0,Data_Scientist,Senior_level
28,SapientNitro,"Arlington, VA",75000.0,Data_Scientist,Senior_level
29,ByteCubed,"Arlington, VA",75000.0,Data_Scientist,Senior_level
30,Alqimi,"Washington, DC",75000.0,Data_Scientist,Senior_level
31,BAE Systems,"Reston, VA 20191",75000.0,Data_Scientist,Senior_level
32,Encore Search Partners,"Reston, VA",75000.0,Data_Scientist,Senior_level
33,Arch Capital Group Ltd.,"Washington, DC",75000.0,Data_Scientist,Senior_level
34,Praxis Engineering,"Reston, VA",75000.0,Data_Scientist,Senior_level
35,Seneca Resources,"Arlington, VA",75000.0,Data_Scientist,Senior_level
36,"OnPoint Consulting, Inc.","Arlington, VA",75000.0,Data_Scientist,Senior_level
37,EXL,"Wilmington, DE",75000.0,Data_Scientist,Senior_level
38,Capital One,"Wilmington, DE",75000.0,Data_Scientist,Senior_level
39,Knowledge Link,"Chantilly, VA",75000.0,Data_Scientist,Senior_level
40,Apex Systems Inc,"Columbia, MD",75000.0,Data_Scientist,Senior_level
41,Vencore,"Silver Spring, MD",75000.0,Data_Scientist,Senior_level
42,Fulcrum,"Reston, VA",75000.0,Data_Scientist,Senior_level
43,Mitre Corporation,"Annapolis Junction, MD 20701",75000.0,Data_Scientist,Senior_level
44,TechMatrixInc.,"Harrisburg, PA",75000.0,Data_Scientist,Senior_level
45,Altamira Technologies Corporation,"Chantilly, VA",75000.0,Data_Scientist,Senior_level
46,SC3,"Fairfax, VA",75000.0,Data_Scientist,Senior_level
47,EOIR Technologies,"Springfield, VA 22150",75000.0,Data_Scientist,Senior_level
48,Praxis Engineering,"Reston, VA",75000.0,Data_Scientist,Senior_level
49,CCRi,"Chantilly, VA",75000.0,Data_Scientist,Senior_level
50,TEGNA,"McLean, VA",75000.0,Data_Scientist,Senior_level
51,"Commonwealth Computer Research, Inc.","Chantilly, VA",75000.0,Data_Scientist,Senior_level
52,EOIR Technologies,"Springfield, VA 22150",75000.0,Data_Scientist,Senior_level
53,Deloitte,"Arlington, VA 22209 (Radnor-Ft Myer Heights area)",75000.0,Data_Scientist,Senior_level
54,Zoomdata,"Reston, VA",75000.0,Data_Scientist,Senior_level
55,Deloitte,"Arlington, VA 22209",75000.0,Data_Scientist,Senior_level
56,System One,"Reston, VA",75000.0,Data_Scientist,Senior_level

## Data_scientist_DC_90_entry

In [71]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$90,000&l=%22Washington,+DC%22&radius=100&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 90000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_90_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_90_entry

,Company_name,Location,Salary,Title,Experience
0,Predictive Science,United States,90000.0,Data_Scientist,Entry_level
1,Engility Corporation,"Bethesda, MD 20892",90000.0,Data_Scientist,Entry_level
2,Massachusetts Institute of Technology ...,"Provost, VA",90000.0,Data_Scientist,Entry_level
3,Booz Allen Hamilton,"Washington, DC",90000.0,Data_Scientist,Entry_level
4,Booz Allen Hamilton,"Washington, DC",90000.0,Data_Scientist,Entry_level
5,Booz Allen Hamilton,"Alexandria, VA",90000.0,Data_Scientist,Entry_level
6,Vox Media,"Washington, DC",90000.0,Data_Scientist,Entry_level
7,Booz Allen Hamilton,"Alexandria, VA",90000.0,Data_Scientist,Entry_level
8,Booz Allen Hamilton,"Chantilly, VA 20151",90000.0,Data_Scientist,Entry_level
9,Booz Allen Hamilton,"McLean, VA",90000.0,Data_Scientist,Entry_level
10,Gryphon Scientific,"Takoma Park, MD",90000.0,Data_Scientist,Entry_level
11,Jobspring Partners,"Washington, DC 20005 (Logan Circle area)",90000.0,Data_Scientist,Entry_level
12,SAIC,"McLean, VA",90000.0,Data_Scientist,Entry_level
13,CACI,"Washington, DC 20001 (Shaw area)",90000.0,Data_Scientist,Entry_level
14,Lockheed Martin,"Rockville, MD",90000.0,Data_Scientist,Entry_level
15,Cubic Corporation,"Tidewater, VA",90000.0,Data_Scientist,Entry_level
16,Trinity Global Consulting,"Springfield, VA",90000.0,Data_Scientist,Entry_level
17,Engility Corporation,"Bethesda, MD 20892",90000.0,Data_Scientist,Entry_level
18,Next Step Systems,"Washington, DC",90000.0,Data_Scientist,Entry_level
19,Booz Allen Hamilton,"McLean, VA",90000.0,Data_Scientist,Entry_level
20,CCRi,"Charlottesville, VA",90000.0,Data_Scientist,Entry_level
21,Veteran Staffing Network of Easter Seals,"McLean, VA",90000.0,Data_Scientist,Entry_level
22,Whiteboard Federal Technologies,"Herndon, VA",90000.0,Data_Scientist,Entry_level
23,SRL TotalSource LLC,"Washington, DC",90000.0,Data_Scientist,Entry_level
24,Encore Search Partners,"Reston, VA",90000.0,Data_Scientist,Entry_level
25,Mitre Corporation,"McLean, VA",90000.0,Data_Scientist,Entry_level
26,Systems & Technology Research,"Arlington, VA 22203 (Bluemont area)",90000.0,Data_Scientist,Entry_level
27,AboutWeb LLC,"Vienna, VA 22182",90000.0,Data_Scientist,Entry_level
28,WhiteHawk Inc.,"Baltimore, MD",90000.0,Data_Scientist,Entry_level
29,Logistics Management Institute,"McLean, VA",90000.0,Data_Scientist,Entry_level
30,Bechtel,"Reston, VA",90000.0,Data_Scientist,Entry_level
31,ROI Checker,"Vienna, VA 22180",90000.0,Data_Scientist,Entry_level
32,Jobspring Partners,"McLean, VA",90000.0,Data_Scientist,Entry_level
33,"Commonwealth Computer Research, Inc.","Charlottesville, VA 22901 (29 North area)",90000.0,Data_Scientist,Entry_level
34,Berico Technologies,"Gaithersburg, MD",90000.0,Data_Scientist,Entry_level
35,Capital One,"McLean, VA",90000.0,Data_Scientist,Entry_level
36,"Synchronoss Technologies, Inc.","Reston, VA",90000.0,Data_Scientist,Entry_level
37,Booz Allen Hamilton,"Alexandria, VA",90000.0,Data_Scientist,Entry_level
38,Sphere of Influence,"McLean, VA",90000.0,Data_Scientist,Entry_level
39,All-In Analytics,"Washington, DC",90000.0,Data_Scientist,Entry_level
40,Whiteboard Federal Technologies,"Chantilly, VA",90000.0,Data_Scientist,Entry_level
41,Sphere of Influence,"McLean, VA 22102",90000.0,Data_Scientist,Entry_level
42,Selby Jennings,"Alexandria, VA",90000.0,Data_Scientist,Entry_level
43,Zoomdata,"Reston, VA",90000.0,Data_Scientist,Entry_level

## Data_scientist_DC_90_mid

In [72]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$90,000&l=%22Washington,+DC%22&radius=100&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 90000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_90_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_90_mid

,Company_name,Location,Salary,Title,Experience
0,"The Verity Group, LLC","Alexandria, VA",90000.0,Data_Scientist,Mid_level
1,DataLab USA,"Germantown, MD 20876",90000.0,Data_Scientist,Mid_level
2,All Things Considered Staffing (ATC-S),"Washington, DC",90000.0,Data_Scientist,Mid_level
3,Excella Consulting,"Washington, DC 20006 (Foggy Bottom area)",90000.0,Data_Scientist,Mid_level
4,Booz Allen Hamilton,"Washington, DC",90000.0,Data_Scientist,Mid_level
5,Verizon,"Silver Spring, MD 20904",90000.0,Data_Scientist,Mid_level
6,Barbaricum,"Washington, DC",90000.0,Data_Scientist,Mid_level
7,Deutsche Bank,"Washington, DC",90000.0,Data_Scientist,Mid_level
8,Applied Information Sciences,"Washington, DC",90000.0,Data_Scientist,Mid_level
9,Agilent,"Wilmington, DE",90000.0,Data_Scientist,Mid_level
10,Oscar Technology,"Baltimore, MD",90000.0,Data_Scientist,Mid_level
11,University of Maryland Medical System,"Linthicum Heights, MD 21090",90000.0,Data_Scientist,Mid_level
12,Centra Technology,"Arlington, VA",90000.0,Data_Scientist,Mid_level
13,Novetta,"Crystal City, VA",90000.0,Data_Scientist,Mid_level
14,ASRC Federal,"Alexandria, VA",90000.0,Data_Scientist,Mid_level
15,DataRobot,"Washington, DC",90000.0,Data_Scientist,Mid_level
16,Vencore,"McLean, VA",90000.0,Data_Scientist,Mid_level
17,The Johns Hopkins Applied Physics Labo...,"Laurel, MD",90000.0,Data_Scientist,Mid_level
18,QxBranch,"Washington, DC",90000.0,Data_Scientist,Mid_level
19,Novetta,"Springfield, VA",90000.0,Data_Scientist,Mid_level
20,Information Innovators Inc.,"Alexandria, VA",90000.0,Data_Scientist,Mid_level
21,CAVA,"Washington, DC 20009 (U Street Corridor area)",90000.0,Data_Scientist,Mid_level
22,Applied Communication Sciences,"Washington, DC",90000.0,Data_Scientist,Mid_level
23,American Society of Clinical Oncology,"Alexandria, VA",90000.0,Data_Scientist,Mid_level
24,Booz Allen Hamilton,"Alexandria, VA",90000.0,Data_Scientist,Mid_level
25,TransVoyant,"Alexandria, VA 22303",90000.0,Data_Scientist,Mid_level
26,ASRC Federal,"Alexandria, VA",90000.0,Data_Scientist,Mid_level
27,The Nielsen Company,"Columbia, MD",90000.0,Data_Scientist,Mid_level
28,Altamira Technologies Corporation,"Springfield, VA",90000.0,Data_Scientist,Mid_level
29,ISPA Technology,"Washington, DC",90000.0,Data_Scientist,Mid_level
...,...,...,...,...,...
62,Engility Corporation,"Chantilly, VA 20151",90000.0,Data_Scientist,Mid_level
63,Socrata,"Washington, DC",90000.0,Data_Scientist,Mid_level
64,Booz Allen Hamilton,"McLean, VA",90000.0,Data_Scientist,Mid_level
65,PureIntegration,"Dulles, VA",90000.0,Data_Scientist,Mid_level
66,Capital One,"McLean, VA",90000.0,Data_Scientist,Mid_level
67,Apex Systems Inc,"Charlottesville, VA",90000.0,Data_Scientist,Mid_level
68,Reperio Inc.,"Washington, DC 20005 (Logan Circle area)",90000.0,Data_Scientist,Mid_level
69,In-Q-Tel,"Arlington, VA 22201 (Lyon Village area)",90000.0,Data_Scientist,Mid_level
70,Capital One,"Vienna, VA",90000.0,Data_Scientist,Mid_level
71,Capital One,"McLean, VA",90000.0,Data_Scientist,Mid_level
72,Capital One,"McLean, VA",90000.0,Data_Scientist,Mid_level
73,Praxis Engineering,"Reston, VA",90000.0,Data_Scientist,Mid_level
74,Coverent,"Reston, VA",90000.0,Data_Scientist,Mid_level
75,The Stratagem Group,"Alexandria, VA",90000.0,Data_Scientist,Mid_level
76,Vencore,"Silver Spring, MD",90000.0,Data_Scientist,Mid_level
77,Engility Corporation,"Reston, VA 20191",90000.0,Data_Scientist,Mid_level
78,"The Verity Group, LLC","Alexandria, VA",90000.0,Data_Scientist,Mid_level
79,CAVA,"Washington, DC 20009 (U Street Corridor area)",90000.0,Data_Scientist,Mid_level
80,The Wallach Search Group,"Washington, DC",90000.0,Data_Scientist,Mid_level
81,All-In Analytics,"Washington, DC",90000.0,Data_Scientist,Mid_level
82,Capital One,"Vienna, VA",90000.0,Data_Scientist,Mid_level
83,Zoomdata,"Reston, VA",90000.0,Data_Scientist,Mid_level
84,Mitre Corporation,"Annapolis Junction, MD 20701",90000.0,Data_Scientist,Mid_level
85,Socrata,"Washington, DC",90000.0,Data_Scientist,Mid_level
86,Capital One,"McLean, VA",90000.0,Data_Scientist,Mid_level
87,"Bluehawk, LLC","Alexandria, VA",90000.0,Data_Scientist,Mid_level
88,Zoomdata,"Reston, VA",90000.0,Data_Scientist,Mid_level
89,Zoomdata,"Reston, VA",90000.0,Data_Scientist,Mid_level
90,Engility Corporation,"Reston, VA 20191",90000.0,Data_Scientist,Mid_level
91,"The Upside Travel Company, LLC","Washington, DC",90000.0,Data_Scientist,Mid_level

## Data_scientist_DC_90_senior

In [73]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$90,000&l=%22Washington,+DC%22&radius=100&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 90000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_90_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_90_senior

,Company_name,Location,Salary,Title,Experience
0,QuintilesIMS,"Collegeville, PA",90000.0,Data_Scientist,Senior_level
1,System One,"Reston, VA",90000.0,Data_Scientist,Senior_level
2,TD Bank,"Mount Laurel, NJ",90000.0,Data_Scientist,Senior_level
3,IMTAS,"Washington, DC 20001 (Shaw area)",90000.0,Data_Scientist,Senior_level
4,Information Innovators Inc.,"Washington, DC",90000.0,Data_Scientist,Senior_level
5,ITDC,"Washington, DC",90000.0,Data_Scientist,Senior_level
6,Booz Allen Hamilton,"Washington, DC",90000.0,Data_Scientist,Senior_level
7,Vencore,"McLean, VA",90000.0,Data_Scientist,Senior_level
8,Booz Allen Hamilton,"Washington, DC",90000.0,Data_Scientist,Senior_level
9,Applied Communication Sciences,"College Park, MD",90000.0,Data_Scientist,Senior_level
10,Booz Allen Hamilton,"Alexandria, VA",90000.0,Data_Scientist,Senior_level
11,Booz Allen Hamilton,"Alexandria, VA",90000.0,Data_Scientist,Senior_level
12,The Aerospace Corporation,"Crystal City, VA",90000.0,Data_Scientist,Senior_level
13,"SnagAJob.com, Inc","Arlington, VA 22201 (Lyon Village area)",90000.0,Data_Scientist,Senior_level
14,Booz Allen Hamilton,"McLean, VA",90000.0,Data_Scientist,Senior_level
15,Knowesis Inc.,"Arlington, VA 22201 (Lyon Village area)",90000.0,Data_Scientist,Senior_level
16,CACI,"Charlottesville, VA 22909 (North East area)",90000.0,Data_Scientist,Senior_level
17,Lotame,"Columbia, MD 21045",90000.0,Data_Scientist,Senior_level
18,Vencore,"College Park, MD",90000.0,Data_Scientist,Senior_level
19,Mitre Corporation,"Bethesda, MD",90000.0,Data_Scientist,Senior_level
20,Booz Allen Hamilton,"Alexandria, VA",90000.0,Data_Scientist,Senior_level
21,Technica Corporation,"Dulles, VA",90000.0,Data_Scientist,Senior_level
22,SapientNitro,"Arlington, VA",90000.0,Data_Scientist,Senior_level
23,ByteCubed,"Arlington, VA",90000.0,Data_Scientist,Senior_level
24,Alqimi,"Washington, DC",90000.0,Data_Scientist,Senior_level
25,Leidos,"Washington, DC 20001 (Shaw area)",90000.0,Data_Scientist,Senior_level
26,Encore Search Partners,"Reston, VA",90000.0,Data_Scientist,Senior_level
27,Arch Capital Group Ltd.,"Washington, DC",90000.0,Data_Scientist,Senior_level
28,Praxis Engineering,"Reston, VA",90000.0,Data_Scientist,Senior_level
29,"OnPoint Consulting, Inc.","Arlington, VA",90000.0,Data_Scientist,Senior_level
30,EXL,"Wilmington, DE",90000.0,Data_Scientist,Senior_level
31,Capital One,"Wilmington, DE",90000.0,Data_Scientist,Senior_level
32,Apex Systems Inc,"Columbia, MD",90000.0,Data_Scientist,Senior_level
33,Mitre Corporation,"Annapolis Junction, MD 20701",90000.0,Data_Scientist,Senior_level
34,TechMatrixInc.,"Harrisburg, PA",90000.0,Data_Scientist,Senior_level
35,Altamira Technologies Corporation,"Chantilly, VA",90000.0,Data_Scientist,Senior_level
36,SC3,"Fairfax, VA",90000.0,Data_Scientist,Senior_level
37,EOIR Technologies,"Springfield, VA 22150",90000.0,Data_Scientist,Senior_level
38,Praxis Engineering,"Reston, VA",90000.0,Data_Scientist,Senior_level
39,CCRi,"Chantilly, VA",90000.0,Data_Scientist,Senior_level
40,"Commonwealth Computer Research, Inc.","Chantilly, VA",90000.0,Data_Scientist,Senior_level
41,EOIR Technologies,"Springfield, VA 22150",90000.0,Data_Scientist,Senior_level
42,Zoomdata,"Reston, VA",90000.0,Data_Scientist,Senior_level
43,Leidos,"Washington, DC",90000.0,Data_Scientist,Senior_level

## extra

In [74]:
df = pd.DataFrame({'Date': ['somedate', 'somedate'],
                   'location': ['united_kingdom_london', 'united_state_newyork'],
                   'occurence': [5, 5]})

In [75]:
df

       Date               location  occurence
0  somedate  united_kingdom_london          5
1  somedate   united_state_newyork          5

In [76]:
df['Country'] = df['location'].str.rpartition('_')[0].str.replace("_", " ")
df['City']    = df['location'].str.rpartition('_')[2]
df[['Date','Country', 'City', 'occurence']]

       Date         Country     City  occurence
0  somedate  united kingdom   london          5
1  somedate    united state  newyork          5

## Data_scientist_DC_105_entry

In [77]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$105,000&l=%22Washington,+DC%22&radius=100&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 105000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_105_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_105_entry

,Company_name,Location,Salary,Title,Experience
0,Predictive Science,United States,105000.0,Data_Scientist,Entry_level
1,Booz Allen Hamilton,"Washington, DC",105000.0,Data_Scientist,Entry_level
2,Booz Allen Hamilton,"Washington, DC",105000.0,Data_Scientist,Entry_level
3,Booz Allen Hamilton,"Alexandria, VA",105000.0,Data_Scientist,Entry_level
4,Vox Media,"Washington, DC",105000.0,Data_Scientist,Entry_level
5,Booz Allen Hamilton,"Chantilly, VA 20151",105000.0,Data_Scientist,Entry_level
6,Booz Allen Hamilton,"McLean, VA",105000.0,Data_Scientist,Entry_level
7,Jobspring Partners,"Washington, DC 20005 (Logan Circle area)",105000.0,Data_Scientist,Entry_level
8,SAIC,"McLean, VA",105000.0,Data_Scientist,Entry_level
9,CACI,"Washington, DC 20001 (Shaw area)",105000.0,Data_Scientist,Entry_level
10,Lockheed Martin,"Rockville, MD",105000.0,Data_Scientist,Entry_level
11,Booz Allen Hamilton,"McLean, VA",105000.0,Data_Scientist,Entry_level
12,CCRi,"Charlottesville, VA",105000.0,Data_Scientist,Entry_level
13,Veteran Staffing Network of Easter Seals,"McLean, VA",105000.0,Data_Scientist,Entry_level
14,Whiteboard Federal Technologies,"Herndon, VA",105000.0,Data_Scientist,Entry_level
15,SRL TotalSource LLC,"Washington, DC",105000.0,Data_Scientist,Entry_level
16,Encore Search Partners,"Reston, VA",105000.0,Data_Scientist,Entry_level
17,Mitre Corporation,"McLean, VA",105000.0,Data_Scientist,Entry_level
18,Systems & Technology Research,"Arlington, VA 22203 (Bluemont area)",105000.0,Data_Scientist,Entry_level
19,WhiteHawk Inc.,"Baltimore, MD",105000.0,Data_Scientist,Entry_level
20,Bechtel,"Reston, VA",105000.0,Data_Scientist,Entry_level
21,Jobspring Partners,"McLean, VA",105000.0,Data_Scientist,Entry_level
22,"Commonwealth Computer Research, Inc.","Charlottesville, VA 22901 (29 North area)",105000.0,Data_Scientist,Entry_level
23,Berico Technologies,"Gaithersburg, MD",105000.0,Data_Scientist,Entry_level
24,"Synchronoss Technologies, Inc.","Reston, VA",105000.0,Data_Scientist,Entry_level
25,Booz Allen Hamilton,"Alexandria, VA",105000.0,Data_Scientist,Entry_level
26,Sphere of Influence,"McLean, VA",105000.0,Data_Scientist,Entry_level
27,Sphere of Influence,"McLean, VA 22102",105000.0,Data_Scientist,Entry_level
28,Selby Jennings,"Alexandria, VA",105000.0,Data_Scientist,Entry_level
29,Zoomdata,"Reston, VA",105000.0,Data_Scientist,Entry_level

## Data_scientist_DC_105_mid

In [78]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$105,000&l=%22Washington,+DC%22&radius=100&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 105000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_105_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_105_mid

,Company_name,Location,Salary,Title,Experience
0,"The Verity Group, LLC","Alexandria, VA",105000.0,Data_Scientist,Mid_level
1,All Things Considered Staffing (ATC-S),"Washington, DC",105000.0,Data_Scientist,Mid_level
2,"Atrilogy Solutions Group, Inc.","Washington, DC 20001",105000.0,Data_Scientist,Mid_level
3,Excella Consulting,"Washington, DC 20006 (Foggy Bottom area)",105000.0,Data_Scientist,Mid_level
4,Booz Allen Hamilton,"Washington, DC",105000.0,Data_Scientist,Mid_level
5,Verizon,"Silver Spring, MD 20904",105000.0,Data_Scientist,Mid_level
6,Barbaricum,"Washington, DC",105000.0,Data_Scientist,Mid_level
7,Deutsche Bank,"Washington, DC",105000.0,Data_Scientist,Mid_level
8,Oscar Technology,"Baltimore, MD",105000.0,Data_Scientist,Mid_level
9,Novetta,"Crystal City, VA",105000.0,Data_Scientist,Mid_level
10,ASRC Federal,"Alexandria, VA",105000.0,Data_Scientist,Mid_level
11,DataRobot,"Washington, DC",105000.0,Data_Scientist,Mid_level
12,Vencore,"McLean, VA",105000.0,Data_Scientist,Mid_level
13,The Johns Hopkins Applied Physics Labo...,"Laurel, MD",105000.0,Data_Scientist,Mid_level
14,Novetta,"Springfield, VA",105000.0,Data_Scientist,Mid_level
15,CAVA,"Washington, DC 20009 (U Street Corridor area)",105000.0,Data_Scientist,Mid_level
16,American Society of Clinical Oncology,"Alexandria, VA",105000.0,Data_Scientist,Mid_level
17,Booz Allen Hamilton,"Alexandria, VA",105000.0,Data_Scientist,Mid_level
18,TransVoyant,"Alexandria, VA 22303",105000.0,Data_Scientist,Mid_level
19,ASRC Federal,"Alexandria, VA",105000.0,Data_Scientist,Mid_level
20,Altamira Technologies Corporation,"Springfield, VA",105000.0,Data_Scientist,Mid_level
21,Teradata,"Washington, DC",105000.0,Data_Scientist,Mid_level
22,"The Upside Travel Company, LLC","Washington, DC",105000.0,Data_Scientist,Mid_level
23,ESNS,"Herndon, VA",105000.0,Data_Scientist,Mid_level
24,"Creative Associates International, Inc.","Washington, DC 20015 (Barnaby Woods area)",105000.0,Data_Scientist,Mid_level
25,Aquila Technology,"Springfield, VA",105000.0,Data_Scientist,Mid_level
26,TransVoyant,"Alexandria, VA 22303",105000.0,Data_Scientist,Mid_level
27,IHS Markit,"Washington, DC",105000.0,Data_Scientist,Mid_level
28,Mitre Corporation,"Washington, DC 20024 (South West area)",105000.0,Data_Scientist,Mid_level
29,In-Q-Tel,"Arlington, VA 22201 (Lyon Village area)",105000.0,Data_Scientist,Mid_level
...,...,...,...,...,...
35,Capital One,"McLean, VA",105000.0,Data_Scientist,Mid_level
36,"Solebrity, Inc.","Ashburn, VA 20147",105000.0,Data_Scientist,Mid_level
37,Altamira Technologies Corporation,"Chantilly, VA",105000.0,Data_Scientist,Mid_level
38,S&P GLOBAL MARKET INTELLIGENCE,"Charlottesville, VA 22909 (North East area)",105000.0,Data_Scientist,Mid_level
39,KPMG,"Washington, DC 20036 (Downtown area)",105000.0,Data_Scientist,Mid_level
40,Mitre Corporation,"McLean, VA",105000.0,Data_Scientist,Mid_level
41,"Elite Technical Services, Inc.","Washington, DC",105000.0,Data_Scientist,Mid_level
42,Strategic Staffing Solutions,"McLean, VA",105000.0,Data_Scientist,Mid_level
43,Engility Corporation,"Chantilly, VA 20151",105000.0,Data_Scientist,Mid_level
44,PureIntegration,"Dulles, VA",105000.0,Data_Scientist,Mid_level
45,Capital One,"McLean, VA",105000.0,Data_Scientist,Mid_level
46,Apex Systems Inc,"Charlottesville, VA",105000.0,Data_Scientist,Mid_level
47,Capital One,"Vienna, VA",105000.0,Data_Scientist,Mid_level
48,Capital One,"McLean, VA",105000.0,Data_Scientist,Mid_level
49,Capital One,"McLean, VA",105000.0,Data_Scientist,Mid_level
50,Praxis Engineering,"Reston, VA",105000.0,Data_Scientist,Mid_level
51,The Stratagem Group,"Alexandria, VA",105000.0,Data_Scientist,Mid_level
52,"The Verity Group, LLC","Alexandria, VA",105000.0,Data_Scientist,Mid_level
53,CAVA,"Washington, DC 20009 (U Street Corridor area)",105000.0,Data_Scientist,Mid_level
54,The Wallach Search Group,"Washington, DC",105000.0,Data_Scientist,Mid_level
55,All-In Analytics,"Washington, DC",105000.0,Data_Scientist,Mid_level
56,Capital One,"Vienna, VA",105000.0,Data_Scientist,Mid_level
57,Zoomdata,"Reston, VA",105000.0,Data_Scientist,Mid_level
58,Mitre Corporation,"Annapolis Junction, MD 20701",105000.0,Data_Scientist,Mid_level
59,Socrata,"Washington, DC",105000.0,Data_Scientist,Mid_level
60,Capital One,"McLean, VA",105000.0,Data_Scientist,Mid_level
61,Zoomdata,"Reston, VA",105000.0,Data_Scientist,Mid_level
62,Zoomdata,"Reston, VA",105000.0,Data_Scientist,Mid_level
63,Randstad Professionals,"Bethesda, MD 20814",105000.0,Data_Scientist,Mid_level
64,"The Upside Travel Company, LLC","Washington, DC",105000.0,Data_Scientist,Mid_level

## Data_scientist_DC_105_senior

In [79]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$105,000&l=%22Washington,+DC%22&radius=100&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 105000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_105_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_105_senior

,Company_name,Location,Salary,Title,Experience
0,QuintilesIMS,"Collegeville, PA",105000.0,Data_Scientist,Senior_level
1,System One,"Reston, VA",105000.0,Data_Scientist,Senior_level
2,TD Bank,"Mount Laurel, NJ",105000.0,Data_Scientist,Senior_level
3,IMTAS,"Washington, DC 20001 (Shaw area)",105000.0,Data_Scientist,Senior_level
4,ITDC,"Washington, DC",105000.0,Data_Scientist,Senior_level
5,Booz Allen Hamilton,"Washington, DC",105000.0,Data_Scientist,Senior_level
6,Vencore,"McLean, VA",105000.0,Data_Scientist,Senior_level
7,Booz Allen Hamilton,"Washington, DC",105000.0,Data_Scientist,Senior_level
8,Applied Communication Sciences,"College Park, MD",105000.0,Data_Scientist,Senior_level
9,Booz Allen Hamilton,"Alexandria, VA",105000.0,Data_Scientist,Senior_level
10,Booz Allen Hamilton,"Alexandria, VA",105000.0,Data_Scientist,Senior_level
11,The Aerospace Corporation,"Crystal City, VA",105000.0,Data_Scientist,Senior_level
12,"SnagAJob.com, Inc","Arlington, VA 22201 (Lyon Village area)",105000.0,Data_Scientist,Senior_level
13,Booz Allen Hamilton,"Chantilly, VA 20151",105000.0,Data_Scientist,Senior_level
14,Lotame,"Columbia, MD 21045",105000.0,Data_Scientist,Senior_level
15,Vencore,"College Park, MD",105000.0,Data_Scientist,Senior_level
16,Mitre Corporation,"Bethesda, MD",105000.0,Data_Scientist,Senior_level
17,Booz Allen Hamilton,"Alexandria, VA",105000.0,Data_Scientist,Senior_level
18,Technica Corporation,"Dulles, VA",105000.0,Data_Scientist,Senior_level
19,SapientNitro,"Arlington, VA",105000.0,Data_Scientist,Senior_level
20,ByteCubed,"Arlington, VA",105000.0,Data_Scientist,Senior_level
21,Encore Search Partners,"Reston, VA",105000.0,Data_Scientist,Senior_level
22,Arch Capital Group Ltd.,"Washington, DC",105000.0,Data_Scientist,Senior_level
23,Praxis Engineering,"Reston, VA",105000.0,Data_Scientist,Senior_level
24,"OnPoint Consulting, Inc.","Arlington, VA",105000.0,Data_Scientist,Senior_level
25,EXL,"Wilmington, DE",105000.0,Data_Scientist,Senior_level
26,Capital One,"Wilmington, DE",105000.0,Data_Scientist,Senior_level
27,Mitre Corporation,"Annapolis Junction, MD 20701",105000.0,Data_Scientist,Senior_level
28,Altamira Technologies Corporation,"Chantilly, VA",105000.0,Data_Scientist,Senior_level
29,SC3,"Fairfax, VA",105000.0,Data_Scientist,Senior_level
30,Praxis Engineering,"Reston, VA",105000.0,Data_Scientist,Senior_level
31,CCRi,"Chantilly, VA",105000.0,Data_Scientist,Senior_level
32,"Commonwealth Computer Research, Inc.","Chantilly, VA",105000.0,Data_Scientist,Senior_level
33,EOIR Technologies,"Springfield, VA 22150",105000.0,Data_Scientist,Senior_level
34,Zoomdata,"Reston, VA",105000.0,Data_Scientist,Senior_level

## Data_scientist_DC_110_entry

In [80]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=Data+Scientist+$110,000%2B&l=Washington,+DC&radius=100&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 110000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_110_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_110_entry

,Company_name,Location,Salary,Title,Experience
0,Predictive Science,United States,110000.0,Data_Scientist,Entry_level
1,Liberty Information,"Havre de Grace, MD",110000.0,Data_Scientist,Entry_level
2,"Cornerstone Search Group, LLC","Philadelphia, PA",110000.0,Data_Scientist,Entry_level
3,Booz Allen Hamilton,"Washington, DC",110000.0,Data_Scientist,Entry_level
4,Booz Allen Hamilton,"Washington, DC",110000.0,Data_Scientist,Entry_level
5,Booz Allen Hamilton,"Alexandria, VA",110000.0,Data_Scientist,Entry_level
6,Vox Media,"Washington, DC",110000.0,Data_Scientist,Entry_level
7,Booz Allen Hamilton,"Chantilly, VA 20151",110000.0,Data_Scientist,Entry_level
8,Booz Allen Hamilton,"McLean, VA",110000.0,Data_Scientist,Entry_level
9,Jobspring Partners,"Washington, DC 20005 (Logan Circle area)",110000.0,Data_Scientist,Entry_level
10,SAIC,"McLean, VA",110000.0,Data_Scientist,Entry_level
11,CACI,"Washington, DC 20001 (Shaw area)",110000.0,Data_Scientist,Entry_level
12,"General Technical Services, LLC","Adelphi, MD",110000.0,Data_Scientist,Entry_level
13,CCRi,"Charlottesville, VA",110000.0,Data_Scientist,Entry_level
14,Whiteboard Federal Technologies,"Herndon, VA",110000.0,Data_Scientist,Entry_level
15,Veteran Staffing Network of Easter Seals,"McLean, VA",110000.0,Data_Scientist,Entry_level
16,Systems & Technology Research,"Arlington, VA 22203 (Bluemont area)",110000.0,Data_Scientist,Entry_level
17,WhiteHawk Inc.,"Baltimore, MD",110000.0,Data_Scientist,Entry_level
18,Encore Search Partners,"Reston, VA",110000.0,Data_Scientist,Entry_level
19,WhiteHawk Inc.,"Baltimore, MD",110000.0,Data_Scientist,Entry_level
20,Integrity Applications Incorporated,"Silver Spring, MD",110000.0,Data_Scientist,Entry_level
21,Bechtel,"Reston, VA",110000.0,Data_Scientist,Entry_level
22,Liberty Information,"Havre de Grace, MD",110000.0,Data_Scientist,Entry_level
23,"Commonwealth Computer Research, Inc.","Charlottesville, VA 22901 (29 North area)",110000.0,Data_Scientist,Entry_level
24,Jobspring Partners,"McLean, VA",110000.0,Data_Scientist,Entry_level
25,Berico Technologies,"Gaithersburg, MD",110000.0,Data_Scientist,Entry_level
26,Integrity Applications Incorporated,"Springfield, VA",110000.0,Data_Scientist,Entry_level
27,Booz Allen Hamilton,"Alexandria, VA",110000.0,Data_Scientist,Entry_level
28,"Cisco Systems, Inc.","Columbia, MD",110000.0,Data_Scientist,Entry_level
29,"Synchronoss Technologies, Inc.","Reston, VA",110000.0,Data_Scientist,Entry_level
30,Centers for Disease Control and Preven...,"Washington, DC",110000.0,Data_Scientist,Entry_level
31,Celerity,"McLean, VA 22102",110000.0,Data_Scientist,Entry_level
32,Department of Health,"Washington, DC",110000.0,Data_Scientist,Entry_level
33,Sphere of Influence,"McLean, VA",110000.0,Data_Scientist,Entry_level
34,Jobspring Partners,"Reston, VA",110000.0,Data_Scientist,Entry_level
35,Capital One,"McLean, VA",110000.0,Data_Scientist,Entry_level
36,NVIDIA,"Charlottesville, VA 22902",110000.0,Data_Scientist,Entry_level
37,"Personal Genome Diagnostics, Inc.","Baltimore, MD 21224 (Bayview area)",110000.0,Data_Scientist,Entry_level
38,AstraZeneca,"Gaithersburg, MD",110000.0,Data_Scientist,Entry_level
39,Sphere of Influence,"McLean, VA 22102",110000.0,Data_Scientist,Entry_level
40,Selby Jennings,"Alexandria, VA",110000.0,Data_Scientist,Entry_level
41,Fractal Industries,"Reston, VA",110000.0,Data_Scientist,Entry_level
42,"MedImmune, LLC","Gaithersburg, MD",110000.0,Data_Scientist,Entry_level
43,Zoomdata,"Reston, VA",110000.0,Data_Scientist,Entry_level
44,"Amazon Web Services, Inc.",United States,110000.0,Data_Scientist,Entry_level
45,Amazon Corporate LLC,United States,110000.0,Data_Scientist,Entry_level

## Data_scientist_DC_110_mid

In [81]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$110,000&l=%22Washington,+DC%22&radius=100&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 110000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_110_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_110_mid

,Company_name,Location,Salary,Title,Experience
0,"The Verity Group, LLC","Alexandria, VA",110000.0,Data_Scientist,Mid_level
1,All Things Considered Staffing (ATC-S),"Washington, DC",110000.0,Data_Scientist,Mid_level
2,"Gunther Douglas, Inc.","Washington, DC 20036",110000.0,Data_Scientist,Mid_level
3,Excella Consulting,"Washington, DC 20006 (Foggy Bottom area)",110000.0,Data_Scientist,Mid_level
4,Booz Allen Hamilton,"Washington, DC",110000.0,Data_Scientist,Mid_level
5,Verizon,"Silver Spring, MD 20904",110000.0,Data_Scientist,Mid_level
6,Barbaricum,"Washington, DC",110000.0,Data_Scientist,Mid_level
7,Deutsche Bank,"Washington, DC",110000.0,Data_Scientist,Mid_level
8,Oscar Technology,"Baltimore, MD",110000.0,Data_Scientist,Mid_level
9,Novetta,"Crystal City, VA",110000.0,Data_Scientist,Mid_level
10,ASRC Federal,"Alexandria, VA",110000.0,Data_Scientist,Mid_level
11,Vencore,"McLean, VA",110000.0,Data_Scientist,Mid_level
12,The Johns Hopkins Applied Physics Labo...,"Laurel, MD",110000.0,Data_Scientist,Mid_level
13,Novetta,"Springfield, VA",110000.0,Data_Scientist,Mid_level
14,CAVA,"Washington, DC 20009 (U Street Corridor area)",110000.0,Data_Scientist,Mid_level
15,American Society of Clinical Oncology,"Alexandria, VA",110000.0,Data_Scientist,Mid_level
16,Booz Allen Hamilton,"Alexandria, VA",110000.0,Data_Scientist,Mid_level
17,TransVoyant,"Alexandria, VA 22303",110000.0,Data_Scientist,Mid_level
18,ASRC Federal,"Alexandria, VA",110000.0,Data_Scientist,Mid_level
19,Altamira Technologies Corporation,"Springfield, VA",110000.0,Data_Scientist,Mid_level
20,Teradata,"Washington, DC",110000.0,Data_Scientist,Mid_level
21,"The Upside Travel Company, LLC","Washington, DC",110000.0,Data_Scientist,Mid_level
22,"Creative Associates International, Inc.","Washington, DC 20015 (Barnaby Woods area)",110000.0,Data_Scientist,Mid_level
23,Aquila Technology,"Springfield, VA",110000.0,Data_Scientist,Mid_level
24,TransVoyant,"Alexandria, VA 22303",110000.0,Data_Scientist,Mid_level
25,IHS Markit,"Washington, DC",110000.0,Data_Scientist,Mid_level
26,Mitre Corporation,"Washington, DC 20024 (South West area)",110000.0,Data_Scientist,Mid_level
27,In-Q-Tel,"Arlington, VA 22201 (Lyon Village area)",110000.0,Data_Scientist,Mid_level
28,Altamira Technologies Corporation,"Springfield, VA",110000.0,Data_Scientist,Mid_level
29,KPMG,"McLean, VA",110000.0,Data_Scientist,Mid_level
30,KPMG,"Washington, DC 20036 (Downtown area)",110000.0,Data_Scientist,Mid_level
31,Jobspring Partners,"Reston, VA",110000.0,Data_Scientist,Mid_level
32,Smith Hanley Associates,"Washington, DC",110000.0,Data_Scientist,Mid_level
33,Capital One,"McLean, VA",110000.0,Data_Scientist,Mid_level
34,"Solebrity, Inc.","Ashburn, VA 20147",110000.0,Data_Scientist,Mid_level
35,Altamira Technologies Corporation,"Chantilly, VA",110000.0,Data_Scientist,Mid_level
36,S&P GLOBAL MARKET INTELLIGENCE,"Charlottesville, VA 22909 (North East area)",110000.0,Data_Scientist,Mid_level
37,KPMG,"Washington, DC 20036 (Downtown area)",110000.0,Data_Scientist,Mid_level
38,Mitre Corporation,"McLean, VA",110000.0,Data_Scientist,Mid_level
39,"Elite Technical Services, Inc.","Washington, DC",110000.0,Data_Scientist,Mid_level
40,Strategic Staffing Solutions,"McLean, VA",110000.0,Data_Scientist,Mid_level
41,Engility Corporation,"Chantilly, VA 20151",110000.0,Data_Scientist,Mid_level
42,PureIntegration,"Dulles, VA",110000.0,Data_Scientist,Mid_level
43,Capital One,"McLean, VA",110000.0,Data_Scientist,Mid_level
44,Capital One,"Vienna, VA",110000.0,Data_Scientist,Mid_level
45,Capital One,"McLean, VA",110000.0,Data_Scientist,Mid_level
46,Capital One,"McLean, VA",110000.0,Data_Scientist,Mid_level
47,"The Verity Group, LLC","Alexandria, VA",110000.0,Data_Scientist,Mid_level
48,CAVA,"Washington, DC 20009 (U Street Corridor area)",110000.0,Data_Scientist,Mid_level
49,The Wallach Search Group,"Washington, DC",110000.0,Data_Scientist,Mid_level
50,All-In Analytics,"Washington, DC",110000.0,Data_Scientist,Mid_level
51,Capital One,"Vienna, VA",110000.0,Data_Scientist,Mid_level
52,Zoomdata,"Reston, VA",110000.0,Data_Scientist,Mid_level
53,Mitre Corporation,"Annapolis Junction, MD 20701",110000.0,Data_Scientist,Mid_level
54,Socrata,"Washington, DC",110000.0,Data_Scientist,Mid_level
55,Capital One,"McLean, VA",110000.0,Data_Scientist,Mid_level
56,Zoomdata,"Reston, VA",110000.0,Data_Scientist,Mid_level
57,Zoomdata,"Reston, VA",110000.0,Data_Scientist,Mid_level
58,"Atrilogy Solutions Group, Inc.","Washington, DC 20001",110000.0,Data_Scientist,Mid_level
59,"The Upside Travel Company, LLC","Washington, DC",110000.0,Data_Scientist,Mid_level

## Data_scientist_DC_110_senior

In [82]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$110,000&l=%22Washington,+DC%22&radius=100&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 110000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_110_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_110_senior

,Company_name,Location,Salary,Title,Experience
0,QuintilesIMS,"Collegeville, PA",110000.0,Data_Scientist,Senior_level
1,System One,"Reston, VA",110000.0,Data_Scientist,Senior_level
2,IMTAS,"Washington, DC 20001 (Shaw area)",110000.0,Data_Scientist,Senior_level
3,ITDC,"Washington, DC",110000.0,Data_Scientist,Senior_level
4,Vencore,"McLean, VA",110000.0,Data_Scientist,Senior_level
5,Booz Allen Hamilton,"Washington, DC",110000.0,Data_Scientist,Senior_level
6,Applied Communication Sciences,"College Park, MD",110000.0,Data_Scientist,Senior_level
7,Booz Allen Hamilton,"Alexandria, VA",110000.0,Data_Scientist,Senior_level
8,Booz Allen Hamilton,"Alexandria, VA",110000.0,Data_Scientist,Senior_level
9,The Aerospace Corporation,"Crystal City, VA",110000.0,Data_Scientist,Senior_level
10,"SnagAJob.com, Inc","Arlington, VA 22201 (Lyon Village area)",110000.0,Data_Scientist,Senior_level
11,Booz Allen Hamilton,"Chantilly, VA 20151",110000.0,Data_Scientist,Senior_level
12,Lotame,"Columbia, MD 21045",110000.0,Data_Scientist,Senior_level
13,Vencore,"College Park, MD",110000.0,Data_Scientist,Senior_level
14,Mitre Corporation,"Bethesda, MD",110000.0,Data_Scientist,Senior_level
15,Booz Allen Hamilton,"Alexandria, VA",110000.0,Data_Scientist,Senior_level
16,Arch Capital Group Ltd.,"Washington, DC",110000.0,Data_Scientist,Senior_level
17,Praxis Engineering,"Reston, VA",110000.0,Data_Scientist,Senior_level
18,"OnPoint Consulting, Inc.","Arlington, VA",110000.0,Data_Scientist,Senior_level
19,EXL,"Wilmington, DE",110000.0,Data_Scientist,Senior_level
20,Capital One,"Wilmington, DE",110000.0,Data_Scientist,Senior_level
21,Mitre Corporation,"Annapolis Junction, MD 20701",110000.0,Data_Scientist,Senior_level
22,Altamira Technologies Corporation,"Chantilly, VA",110000.0,Data_Scientist,Senior_level
23,SC3,"Fairfax, VA",110000.0,Data_Scientist,Senior_level
24,Praxis Engineering,"Reston, VA",110000.0,Data_Scientist,Senior_level
25,CCRi,"Chantilly, VA",110000.0,Data_Scientist,Senior_level
26,"Commonwealth Computer Research, Inc.","Chantilly, VA",110000.0,Data_Scientist,Senior_level
27,EOIR Technologies,"Springfield, VA 22150",110000.0,Data_Scientist,Senior_level
28,Zoomdata,"Reston, VA",110000.0,Data_Scientist,Senior_level
29,TD Bank,"Mount Laurel, NJ",110000.0,Data_Scientist,Senior_level

## Data_scientist_DC_125_entry

In [83]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000&l=%22Washington,+DC%22&radius=100&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_125_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_125_entry

,Company_name,Location,Salary,Title,Experience
0,Booz Allen Hamilton,"Washington, DC",125000.0,Data_Scientist,Entry_level
1,Booz Allen Hamilton,"McLean, VA",125000.0,Data_Scientist,Entry_level
2,Jobspring Partners,"Washington, DC 20005 (Logan Circle area)",125000.0,Data_Scientist,Entry_level
3,Whiteboard Federal Technologies,"Herndon, VA",125000.0,Data_Scientist,Entry_level
4,Veteran Staffing Network of Easter Seals,"McLean, VA",125000.0,Data_Scientist,Entry_level
5,Systems & Technology Research,"Arlington, VA 22203 (Bluemont area)",125000.0,Data_Scientist,Entry_level
6,Bechtel,"Reston, VA",125000.0,Data_Scientist,Entry_level
7,Jobspring Partners,"McLean, VA",125000.0,Data_Scientist,Entry_level
8,Selby Jennings,"Alexandria, VA",125000.0,Data_Scientist,Entry_level

## Data_scientist_DC_125_mid

In [84]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000&l=%22Washington,+DC%22&radius=100&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_125_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_125_mid

,Company_name,Location,Salary,Title,Experience
0,"The Verity Group, LLC","Alexandria, VA",125000.0,Data_Scientist,Mid_level
1,"The Upside Travel Company, LLC","Washington, DC",125000.0,Data_Scientist,Mid_level
2,"Gunther Douglas, Inc.","Washington, DC 20036",125000.0,Data_Scientist,Mid_level
3,Barbaricum,"Washington, DC",125000.0,Data_Scientist,Mid_level
4,Oscar Technology,"Baltimore, MD",125000.0,Data_Scientist,Mid_level
5,Booz Allen Hamilton,"Reston, VA",125000.0,Data_Scientist,Mid_level
6,TransVoyant,"Alexandria, VA 22303",125000.0,Data_Scientist,Mid_level
7,ASRC Federal,"Alexandria, VA",125000.0,Data_Scientist,Mid_level
8,"The Upside Travel Company, LLC","Washington, DC",125000.0,Data_Scientist,Mid_level
9,IHS Markit,"Washington, DC",125000.0,Data_Scientist,Mid_level
10,Mitre Corporation,"Washington, DC 20024 (South West area)",125000.0,Data_Scientist,Mid_level
11,Jobspring Partners,"Reston, VA",125000.0,Data_Scientist,Mid_level
12,Smith Hanley Associates,"Washington, DC",125000.0,Data_Scientist,Mid_level
13,Capital One,"McLean, VA",125000.0,Data_Scientist,Mid_level
14,"Solebrity, Inc.","Ashburn, VA 20147",125000.0,Data_Scientist,Mid_level
15,S&P GLOBAL MARKET INTELLIGENCE,"Charlottesville, VA 22909 (North East area)",125000.0,Data_Scientist,Mid_level
16,"Elite Technical Services, Inc.","Washington, DC",125000.0,Data_Scientist,Mid_level
17,Capital One,"McLean, VA",125000.0,Data_Scientist,Mid_level
18,Capital One,"Vienna, VA",125000.0,Data_Scientist,Mid_level
19,Capital One,"McLean, VA",125000.0,Data_Scientist,Mid_level
20,Capital One,"McLean, VA",125000.0,Data_Scientist,Mid_level
21,"The Verity Group, LLC","Alexandria, VA",125000.0,Data_Scientist,Mid_level
22,The Wallach Search Group,"Washington, DC",125000.0,Data_Scientist,Mid_level
23,Capital One,"McLean, VA",125000.0,Data_Scientist,Mid_level
24,All Things Considered Staffing (ATC-S),"Washington, DC",125000.0,Data_Scientist,Mid_level

## Data_scientist_DC_125_senior

In [85]:
driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000%2B&l=%22Washington,+DC%22&radius=100&explvl=senior_level&limit=50"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_DC_125_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_DC_125_senior

,Company_name,Location,Salary,Title,Experience
0,QuintilesIMS,"Collegeville, PA",125000.0,Data_Scientist,Senior_level
1,System One,"Reston, VA",125000.0,Data_Scientist,Senior_level
2,ITDC,"Washington, DC",125000.0,Data_Scientist,Senior_level
3,Booz Allen Hamilton,"Washington, DC",125000.0,Data_Scientist,Senior_level
4,"SnagAJob.com, Inc","Arlington, VA 22201 (Lyon Village area)",125000.0,Data_Scientist,Senior_level
5,Booz Allen Hamilton,"Chantilly, VA 20151",125000.0,Data_Scientist,Senior_level
6,Lotame,"Columbia, MD 21045",125000.0,Data_Scientist,Senior_level
7,Booz Allen Hamilton,"Alexandria, VA",125000.0,Data_Scientist,Senior_level
8,Mitre Corporation,"Bethesda, MD",125000.0,Data_Scientist,Senior_level
9,Arch Capital Group Ltd.,"Washington, DC",125000.0,Data_Scientist,Senior_level
10,EXL,"Wilmington, DE",125000.0,Data_Scientist,Senior_level
11,Capital One,"Wilmington, DE",125000.0,Data_Scientist,Senior_level
12,Praxis Engineering,"Reston, VA",125000.0,Data_Scientist,Senior_level
13,CCRi,"Chantilly, VA",125000.0,Data_Scientist,Senior_level
14,"Commonwealth Computer Research, Inc.","Chantilly, VA",125000.0,Data_Scientist,Senior_level
15,Zoomdata,"Reston, VA",125000.0,Data_Scientist,Senior_level
16,TD Bank,"Mount Laurel, NJ",125000.0,Data_Scientist,Senior_level

## New york city

In [86]:
## Data_scientist_NY_85_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$85,000%2B&l=New+York,+NY&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 85000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_85_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_85_entry

## Data_scientist_NY_85_mid

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$85,000%2B&l=New+York,+NY&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 85000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_85_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_85_mid

## Data_scientist_NY_85_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$85,000%2B&l=New+York,+NY&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 85000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_85_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_85_senior

,Company_name,Location,Salary,Title,Experience
0,Accenture,"New York, NY 10011",85000.0,Data_Scientist,Senior_level
1,Harnham,"New York, NY 10150",85000.0,Data_Scientist,Senior_level
2,TD Bank,"Mount Laurel, NJ",85000.0,Data_Scientist,Senior_level
3,MassMutual Financial Group,"New York, NY",85000.0,Data_Scientist,Senior_level
4,MLB Advanced Media,"New York, NY 10011 (Chelsea area)",85000.0,Data_Scientist,Senior_level
5,Bloomberg,"New York, NY",85000.0,Data_Scientist,Senior_level
6,Sapient Global Markets,"New York, NY",85000.0,Data_Scientist,Senior_level
7,TIAA,"New York, NY 10002 (Lower East Side area)",85000.0,Data_Scientist,Senior_level
8,Paperless Post,"New York, NY",85000.0,Data_Scientist,Senior_level
9,Averity,"New York, NY",85000.0,Data_Scientist,Senior_level
10,Church Pension Group,"New York, NY",85000.0,Data_Scientist,Senior_level
11,Aetna,"New York, NY 10016 (Gramercy area)",85000.0,Data_Scientist,Senior_level
12,Spreemo,"New York, NY",85000.0,Data_Scientist,Senior_level
13,Pivotal Software,"New York, NY 10017 (Midtown area)",85000.0,Data_Scientist,Senior_level
14,Absolutdata,"New York, NY",85000.0,Data_Scientist,Senior_level
15,SRP Systems Inc,"Princeton, NJ",85000.0,Data_Scientist,Senior_level
16,CAPCO,"New York, NY 10271 (Financial District area)",85000.0,Data_Scientist,Senior_level
17,Spotify,"New York, NY 10011 (Chelsea area)",85000.0,Data_Scientist,Senior_level
18,AIG,"New York, NY",85000.0,Data_Scientist,Senior_level
19,SiriusXM,"Township of Lawrence, NJ 08648",85000.0,Data_Scientist,Senior_level
20,FIS,"New York, NY 10034 (Inwood area)",85000.0,Data_Scientist,Senior_level
21,Enigma,"New York, NY",85000.0,Data_Scientist,Senior_level
22,Tumblr,"New York, NY",85000.0,Data_Scientist,Senior_level
23,Viacom,"New York, NY",85000.0,Data_Scientist,Senior_level
24,S&P GLOBAL,"New York, NY 10002 (Lower East Side area)",85000.0,Data_Scientist,Senior_level
25,Rockstar New York,"New York, NY",85000.0,Data_Scientist,Senior_level
26,Harnham,"New York, NY",85000.0,Data_Scientist,Senior_level
27,Helix Sleep,"New York, NY",85000.0,Data_Scientist,Senior_level
28,Big Cloud Recruitment,"New York, NY",85000.0,Data_Scientist,Senior_level
29,Harnham,"New York, NY",85000.0,Data_Scientist,Senior_level
30,LearnVest,"New York, NY",85000.0,Data_Scientist,Senior_level
31,SRP Systems Inc,"Princeton, NJ",85000.0,Data_Scientist,Senior_level
32,Accenture,"New York, NY 10011 (Chelsea area)",85000.0,Data_Scientist,Senior_level
33,KCS,"New York, NY",85000.0,Data_Scientist,Senior_level
34,AIG,"New York, NY",85000.0,Data_Scientist,Senior_level
35,Garrison Associates,"New York, NY 10110 (East Village area)",85000.0,Data_Scientist,Senior_level
36,Averity,"Union, NJ",85000.0,Data_Scientist,Senior_level
37,Johnson & Johnson Services Inc.,"Bridgewater, NJ",85000.0,Data_Scientist,Senior_level
38,FGP International,"New York, NY",85000.0,Data_Scientist,Senior_level
39,Accenture,"New York, NY 10011 (Chelsea area)",85000.0,Data_Scientist,Senior_level
40,SAP,"Parsippany, NJ",85000.0,Data_Scientist,Senior_level
41,The James Allen Companies,"Jersey City, NJ",85000.0,Data_Scientist,Senior_level
42,MarketShare,"New York, NY",85000.0,Data_Scientist,Senior_level
43,Datameer,"New York, NY",85000.0,Data_Scientist,Senior_level

In [87]:
##Data_scientist_NY_100_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$100,000&l=New+York,+NY&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 100000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_100_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_100_entry

## Data_scientist_NY_100_mid

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$100,000&l=New+York,+NY&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 100000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_100_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_100_mid

## Data_scientist_NY_100_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$100,000&l=New+York,+NY&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 100000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_100_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_100_senior

,Company_name,Location,Salary,Title,Experience
0,Accenture,"New York, NY 10011",100000.0,Data_Scientist,Senior_level
1,Harnham,"New York, NY 10150",100000.0,Data_Scientist,Senior_level
2,TD Bank,"Mount Laurel, NJ",100000.0,Data_Scientist,Senior_level
3,MassMutual Financial Group,"New York, NY",100000.0,Data_Scientist,Senior_level
4,MLB Advanced Media,"New York, NY 10011 (Chelsea area)",100000.0,Data_Scientist,Senior_level
5,Sapient Global Markets,"New York, NY",100000.0,Data_Scientist,Senior_level
6,Bloomberg,"New York, NY",100000.0,Data_Scientist,Senior_level
7,TIAA,"New York, NY 10002 (Lower East Side area)",100000.0,Data_Scientist,Senior_level
8,Paperless Post,"New York, NY",100000.0,Data_Scientist,Senior_level
9,Averity,"New York, NY",100000.0,Data_Scientist,Senior_level
10,Church Pension Group,"New York, NY",100000.0,Data_Scientist,Senior_level
11,Aetna,"New York, NY 10016 (Gramercy area)",100000.0,Data_Scientist,Senior_level
12,Spreemo,"New York, NY",100000.0,Data_Scientist,Senior_level
13,Absolutdata,"New York, NY",100000.0,Data_Scientist,Senior_level
14,Pivotal Software,"New York, NY 10017 (Midtown area)",100000.0,Data_Scientist,Senior_level
15,Spotify,"New York, NY 10011 (Chelsea area)",100000.0,Data_Scientist,Senior_level
16,CAPCO,"New York, NY 10271 (Financial District area)",100000.0,Data_Scientist,Senior_level
17,AIG,"New York, NY",100000.0,Data_Scientist,Senior_level
18,Enigma,"New York, NY",100000.0,Data_Scientist,Senior_level
19,Tumblr,"New York, NY",100000.0,Data_Scientist,Senior_level
20,S&P GLOBAL,"New York, NY 10002 (Lower East Side area)",100000.0,Data_Scientist,Senior_level
21,Viacom,"New York, NY",100000.0,Data_Scientist,Senior_level
22,Harnham,"New York, NY",100000.0,Data_Scientist,Senior_level
23,Rockstar New York,"New York, NY",100000.0,Data_Scientist,Senior_level
24,Harnham,"New York, NY",100000.0,Data_Scientist,Senior_level
25,Big Cloud Recruitment,"New York, NY",100000.0,Data_Scientist,Senior_level
26,LearnVest,"New York, NY",100000.0,Data_Scientist,Senior_level
27,SRP Systems Inc,"Princeton, NJ",100000.0,Data_Scientist,Senior_level
28,Accenture,"New York, NY 10011 (Chelsea area)",100000.0,Data_Scientist,Senior_level
29,KCS,"New York, NY",100000.0,Data_Scientist,Senior_level
30,Averity,"Union, NJ",100000.0,Data_Scientist,Senior_level
31,Garrison Associates,"New York, NY 10110 (East Village area)",100000.0,Data_Scientist,Senior_level
32,AIG,"New York, NY",100000.0,Data_Scientist,Senior_level
33,Johnson & Johnson Services Inc.,"Bridgewater, NJ",100000.0,Data_Scientist,Senior_level
34,FGP International,"New York, NY",100000.0,Data_Scientist,Senior_level
35,SAP,"Parsippany, NJ",100000.0,Data_Scientist,Senior_level
36,Accenture,"New York, NY 10011 (Chelsea area)",100000.0,Data_Scientist,Senior_level
37,The James Allen Companies,"Jersey City, NJ",100000.0,Data_Scientist,Senior_level
38,MarketShare,"New York, NY",100000.0,Data_Scientist,Senior_level
39,Datameer,"New York, NY",100000.0,Data_Scientist,Senior_level

In [88]:
##Data_scientist_NY_115_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$115,000&l=New+York,+NY&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 115000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_115_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_115_entry

##Data_scientist_NY_115_mid


driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$115,000&l=New+York,+NY&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 115000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_115_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_115_mid

##Data_scientist_NY_115_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$115,000&l=New+York,+NY&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 115000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_115_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_115_senior

,Company_name,Location,Salary,Title,Experience
0,Accenture,"New York, NY 10011",115000.0,Data_Scientist,Senior_level
1,Harnham,"New York, NY 10150",115000.0,Data_Scientist,Senior_level
2,TD Bank,"Mount Laurel, NJ",115000.0,Data_Scientist,Senior_level
3,MLB Advanced Media,"New York, NY 10011 (Chelsea area)",115000.0,Data_Scientist,Senior_level
4,Bloomberg,"New York, NY",115000.0,Data_Scientist,Senior_level
5,Sapient Global Markets,"New York, NY",115000.0,Data_Scientist,Senior_level
6,Paperless Post,"New York, NY",115000.0,Data_Scientist,Senior_level
7,Averity,"New York, NY",115000.0,Data_Scientist,Senior_level
8,Aetna,"New York, NY 10016 (Gramercy area)",115000.0,Data_Scientist,Senior_level
9,Spreemo,"New York, NY",115000.0,Data_Scientist,Senior_level
10,Pivotal Software,"New York, NY 10017 (Midtown area)",115000.0,Data_Scientist,Senior_level
11,Absolutdata,"New York, NY",115000.0,Data_Scientist,Senior_level
12,Spotify,"New York, NY 10011 (Chelsea area)",115000.0,Data_Scientist,Senior_level
13,AIG,"New York, NY",115000.0,Data_Scientist,Senior_level
14,Tumblr,"New York, NY",115000.0,Data_Scientist,Senior_level
15,Viacom,"New York, NY",115000.0,Data_Scientist,Senior_level
16,S&P GLOBAL,"New York, NY 10002 (Lower East Side area)",115000.0,Data_Scientist,Senior_level
17,CAPCO,"New York, NY 10271 (Financial District area)",115000.0,Data_Scientist,Senior_level
18,Rockstar New York,"New York, NY",115000.0,Data_Scientist,Senior_level
19,Harnham,"New York, NY",115000.0,Data_Scientist,Senior_level
20,Big Cloud Recruitment,"New York, NY",115000.0,Data_Scientist,Senior_level
21,Harnham,"New York, NY",115000.0,Data_Scientist,Senior_level
22,Accenture,"New York, NY 10011 (Chelsea area)",115000.0,Data_Scientist,Senior_level
23,KCS,"New York, NY",115000.0,Data_Scientist,Senior_level
24,AIG,"New York, NY",115000.0,Data_Scientist,Senior_level
25,Garrison Associates,"New York, NY 10110 (East Village area)",115000.0,Data_Scientist,Senior_level
26,Averity,"Union, NJ",115000.0,Data_Scientist,Senior_level
27,Johnson & Johnson Services Inc.,"Bridgewater, NJ",115000.0,Data_Scientist,Senior_level
28,FGP International,"New York, NY",115000.0,Data_Scientist,Senior_level
29,Accenture,"New York, NY 10011 (Chelsea area)",115000.0,Data_Scientist,Senior_level
30,The James Allen Companies,"Jersey City, NJ",115000.0,Data_Scientist,Senior_level
31,Celgene Corporation,"Summit, NJ 07901",115000.0,Data_Scientist,Senior_level

In [89]:
##Data_scientist_NY_125_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000&l=New+York,+NY&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_125_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_125_entry

##Data_scientist_NY_125_mid


driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000&l=New+York,+NY&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_125_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_125_mid

##Data_scientist_NY_125_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000&l=New+York,+NY&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_125_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_125_senior

,Company_name,Location,Salary,Title,Experience
0,Accenture,"New York, NY 10011",125000.0,Data_Scientist,Senior_level
1,Harnham,"New York, NY 10150",125000.0,Data_Scientist,Senior_level
2,Celgene Corporation,"Summit, NJ 07901",125000.0,Data_Scientist,Senior_level
3,MLB Advanced Media,"New York, NY 10011 (Chelsea area)",125000.0,Data_Scientist,Senior_level
4,Sapient Global Markets,"New York, NY",125000.0,Data_Scientist,Senior_level
5,Bloomberg,"New York, NY",125000.0,Data_Scientist,Senior_level
6,Paperless Post,"New York, NY",125000.0,Data_Scientist,Senior_level
7,Averity,"New York, NY",125000.0,Data_Scientist,Senior_level
8,Spreemo,"New York, NY",125000.0,Data_Scientist,Senior_level
9,Absolutdata,"New York, NY",125000.0,Data_Scientist,Senior_level
10,Pivotal Software,"New York, NY 10017 (Midtown area)",125000.0,Data_Scientist,Senior_level
11,Spotify,"New York, NY 10011 (Chelsea area)",125000.0,Data_Scientist,Senior_level
12,AIG,"New York, NY",125000.0,Data_Scientist,Senior_level
13,Tumblr,"New York, NY",125000.0,Data_Scientist,Senior_level
14,S&P GLOBAL,"New York, NY 10002 (Lower East Side area)",125000.0,Data_Scientist,Senior_level
15,Viacom,"New York, NY",125000.0,Data_Scientist,Senior_level
16,Harnham,"New York, NY",125000.0,Data_Scientist,Senior_level
17,Rockstar New York,"New York, NY",125000.0,Data_Scientist,Senior_level
18,Harnham,"New York, NY",125000.0,Data_Scientist,Senior_level
19,Big Cloud Recruitment,"New York, NY",125000.0,Data_Scientist,Senior_level
20,Accenture,"New York, NY 10011 (Chelsea area)",125000.0,Data_Scientist,Senior_level
21,KCS,"New York, NY",125000.0,Data_Scientist,Senior_level
22,Averity,"Union, NJ",125000.0,Data_Scientist,Senior_level
23,Garrison Associates,"New York, NY 10110 (East Village area)",125000.0,Data_Scientist,Senior_level
24,AIG,"New York, NY",125000.0,Data_Scientist,Senior_level
25,Johnson & Johnson Services Inc.,"Bridgewater, NJ",125000.0,Data_Scientist,Senior_level
26,Accenture,"New York, NY 10011 (Chelsea area)",125000.0,Data_Scientist,Senior_level
27,The James Allen Companies,"Jersey City, NJ",125000.0,Data_Scientist,Senior_level
28,TD Bank,"Mount Laurel, NJ",125000.0,Data_Scientist,Senior_level

In [90]:
## Data_scientist_NY_140_entry


driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$140,000%2B&l=New+York,+NY&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 140000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_140_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_140_entry

##Data_scientist_NY_140_mid


driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$140,000%2B&l=New+York,+NY&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 140000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_140_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_140_mid

##Data_scientist_NY_140_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$140,000%2B&l=New+York,+NY&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 140000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_NY_140_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_NY_140_senior

,Company_name,Location,Salary,Title,Experience
0,Harnham,"New York, NY 10150",140000.0,Data_Scientist,Senior_level
1,TD Bank,"Mount Laurel, NJ",140000.0,Data_Scientist,Senior_level
2,MLB Advanced Media,"New York, NY 10011 (Chelsea area)",140000.0,Data_Scientist,Senior_level
3,Averity,"New York, NY",140000.0,Data_Scientist,Senior_level
4,AIG,"New York, NY",140000.0,Data_Scientist,Senior_level
5,Tumblr,"New York, NY",140000.0,Data_Scientist,Senior_level
6,S&P GLOBAL,"New York, NY 10002 (Lower East Side area)",140000.0,Data_Scientist,Senior_level
7,Harnham,"New York, NY",140000.0,Data_Scientist,Senior_level
8,Rockstar New York,"New York, NY",140000.0,Data_Scientist,Senior_level
9,Harnham,"New York, NY",140000.0,Data_Scientist,Senior_level
10,Big Cloud Recruitment,"New York, NY",140000.0,Data_Scientist,Senior_level
11,KCS,"New York, NY",140000.0,Data_Scientist,Senior_level
12,Averity,"Union, NJ",140000.0,Data_Scientist,Senior_level
13,Garrison Associates,"New York, NY 10110 (East Village area)",140000.0,Data_Scientist,Senior_level
14,AIG,"New York, NY",140000.0,Data_Scientist,Senior_level
15,Johnson & Johnson Services Inc.,"Bridgewater, NJ",140000.0,Data_Scientist,Senior_level
16,Accenture,"New York, NY 10011 (Chelsea area)",140000.0,Data_Scientist,Senior_level
17,The James Allen Companies,"Jersey City, NJ",140000.0,Data_Scientist,Senior_level

## San francisco

In [91]:
## Data_scientist_SF_90_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$90,000&l=San+Francisco,+CA&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 90000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_90_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_90_entry

## Data_scientist_SF_90_mid

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$90,000&l=San+Francisco,+CA&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 90000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_90_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_90_mid

## Data_scientist_SF_90_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$90,000&l=San+Francisco,+CA&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 90000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_90_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_90_senior

,Company_name,Location,Salary,Title,Experience
0,Genentech,"South San Francisco, CA",90000.0,Data_Scientist,Senior_level
1,Datameer,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
2,iSoft Solutions,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
3,Hired,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
4,Genentech,"South San Francisco, CA",90000.0,Data_Scientist,Senior_level
5,"Apixio, Inc.","San Mateo, CA",90000.0,Data_Scientist,Senior_level
6,CA Technologies,"Santa Clara, CA",90000.0,Data_Scientist,Senior_level
7,Symantec,"Mountain View, CA",90000.0,Data_Scientist,Senior_level
8,GE Careers,"San Ramon, CA 94583",90000.0,Data_Scientist,Senior_level
9,GE Careers,"San Ramon, CA 94583",90000.0,Data_Scientist,Senior_level
10,MachineZone,"Palo Alto, CA",90000.0,Data_Scientist,Senior_level
11,Sigmaways,"Palo Alto, CA",90000.0,Data_Scientist,Senior_level
12,Fitbit,"San Francisco, CA 94105 (Financial District area)",90000.0,Data_Scientist,Senior_level
13,Change.org,"San Francisco, CA 94103 (South Of Market area)",90000.0,Data_Scientist,Senior_level
14,LeanTaaS,"Santa Clara, CA",90000.0,Data_Scientist,Senior_level
15,TEKsystems,"San Francisco, CA 94103 (South Of Market area)",90000.0,Data_Scientist,Senior_level
16,Gap Inc. Corporate,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
17,"Cisco Systems, Inc.","San Jose, CA",90000.0,Data_Scientist,Senior_level
18,Workbridge Associates,"San Francisco, CA 94105 (Financial District area)",90000.0,Data_Scientist,Senior_level
19,Bayone Solutions Inc.,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
20,"InfoVision, Inc.","San Jose, CA",90000.0,Data_Scientist,Senior_level
21,Quantifind,"Menlo Park, CA",90000.0,Data_Scientist,Senior_level
22,eBay,"San Jose, CA",90000.0,Data_Scientist,Senior_level
23,Square,"San Francisco, CA 94103 (South Of Market area)",90000.0,Data_Scientist,Senior_level
24,Thomson Reuters,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
25,YuMe,"Redwood City, CA 94063",90000.0,Data_Scientist,Senior_level
26,Proofpoint,"Sunnyvale, CA 94089",90000.0,Data_Scientist,Senior_level
27,Demandbase,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
28,"Move, Inc.","Santa Clara, CA",90000.0,Data_Scientist,Senior_level
29,TrialPay,"Mountain View, CA",90000.0,Data_Scientist,Senior_level
...,...,...,...,...,...
55,IMVU,"Redwood City, CA",90000.0,Data_Scientist,Senior_level
56,Chegg,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
57,Netflix,"Los Gatos, CA",90000.0,Data_Scientist,Senior_level
58,Capgemini,"South San Francisco, CA",90000.0,Data_Scientist,Senior_level
59,"Cisco Systems, Inc.","San Jose, CA",90000.0,Data_Scientist,Senior_level
60,Dropbox,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
61,Intuit,"Mountain View, CA 94039",90000.0,Data_Scientist,Senior_level
62,"Pandora Media, Inc.","Oakland, CA",90000.0,Data_Scientist,Senior_level
63,Electronic Arts,"Redwood City, CA 94065",90000.0,Data_Scientist,Senior_level
64,Apartment List,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
65,EOS DA,"Menlo Park, CA",90000.0,Data_Scientist,Senior_level
66,Accenture,"San Francisco, CA 94105 (Financial District area)",90000.0,Data_Scientist,Senior_level
67,Redfish Technology - High Tech Executive R...,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
68,Microsoft,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
69,NTT Security,"Palo Alto, CA 94303 (Duveneck-Saint Francis area)",90000.0,Data_Scientist,Senior_level
70,Oracle,"Redwood Shores, CA",90000.0,Data_Scientist,Senior_level
71,Elevate Recruiting Group,"Palo Alto, CA",90000.0,Data_Scientist,Senior_level
72,Lyft Corporate,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
73,Datameer,"San Francisco, CA 94103 (South Of Market area)",90000.0,Data_Scientist,Senior_level
74,Risk Management Solutions (RMS),"Newark, CA",90000.0,Data_Scientist,Senior_level
75,Yahoo! Inc.,"Sunnyvale, CA",90000.0,Data_Scientist,Senior_level
76,Accenture,"San Francisco, CA 94105 (Financial District area)",90000.0,Data_Scientist,Senior_level
77,Oxford International,"Sunnyvale, CA",90000.0,Data_Scientist,Senior_level
78,GE Careers,"San Ramon, CA 94583",90000.0,Data_Scientist,Senior_level
79,StyleSeat,"San Francisco, CA",90000.0,Data_Scientist,Senior_level
80,"Quality IT Source, LLC","San Francisco, CA",90000.0,Data_Scientist,Senior_level
81,Charles Schwab,"San Francisco, CA 94102 (Downtown area)",90000.0,Data_Scientist,Senior_level
82,GE Careers,"San Ramon, CA 94583",90000.0,Data_Scientist,Senior_level
83,Accenture,"San Francisco, CA 94105 (Financial District area)",90000.0,Data_Scientist,Senior_level
84,Zendrive,"San Francisco, CA",90000.0,Data_Scientist,Senior_level

In [92]:
## Data_scientist_sf_105_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$105,000&l=San+Francisco,+CA&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 105000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_105_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_105_entry

## Data_scientist_SF_105_mid

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$105,000&l=San+Francisco,+CA&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 105000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_105_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_105_mid

## Data_scientist_SF_105_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$105,000&l=San+Francisco,+CA&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 105000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_105_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_105_senior

,Company_name,Location,Salary,Title,Experience
0,Genentech,"South San Francisco, CA",105000.0,Data_Scientist,Senior_level
1,Datameer,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
2,iSoft Solutions,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
3,Hired,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
4,"Apixio, Inc.","San Mateo, CA",105000.0,Data_Scientist,Senior_level
5,Genentech,"South San Francisco, CA",105000.0,Data_Scientist,Senior_level
6,Symantec,"Mountain View, CA",105000.0,Data_Scientist,Senior_level
7,GE Careers,"San Ramon, CA 94583",105000.0,Data_Scientist,Senior_level
8,GE Careers,"San Ramon, CA 94583",105000.0,Data_Scientist,Senior_level
9,MachineZone,"Palo Alto, CA",105000.0,Data_Scientist,Senior_level
10,Sigmaways,"Palo Alto, CA",105000.0,Data_Scientist,Senior_level
11,Change.org,"San Francisco, CA 94103 (South Of Market area)",105000.0,Data_Scientist,Senior_level
12,LeanTaaS,"Santa Clara, CA",105000.0,Data_Scientist,Senior_level
13,Fitbit,"San Francisco, CA 94105 (Financial District area)",105000.0,Data_Scientist,Senior_level
14,TEKsystems,"San Francisco, CA 94103 (South Of Market area)",105000.0,Data_Scientist,Senior_level
15,Gap Inc. Corporate,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
16,"Cisco Systems, Inc.","San Jose, CA",105000.0,Data_Scientist,Senior_level
17,"InfoVision, Inc.","San Jose, CA",105000.0,Data_Scientist,Senior_level
18,Workbridge Associates,"San Francisco, CA 94105 (Financial District area)",105000.0,Data_Scientist,Senior_level
19,Bayone Solutions Inc.,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
20,eBay,"San Jose, CA",105000.0,Data_Scientist,Senior_level
21,Quantifind,"Menlo Park, CA",105000.0,Data_Scientist,Senior_level
22,Square,"San Francisco, CA 94103 (South Of Market area)",105000.0,Data_Scientist,Senior_level
23,YuMe,"Redwood City, CA 94063",105000.0,Data_Scientist,Senior_level
24,Demandbase,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
25,Proofpoint,"Sunnyvale, CA 94089",105000.0,Data_Scientist,Senior_level
26,Datameer,"San Francisco, CA 94103 (South Of Market area)",105000.0,Data_Scientist,Senior_level
27,"Move, Inc.","Santa Clara, CA",105000.0,Data_Scientist,Senior_level
28,TrialPay,"Mountain View, CA",105000.0,Data_Scientist,Senior_level
29,Samsung Electronics America,"Mountain View, CA",105000.0,Data_Scientist,Senior_level
...,...,...,...,...,...
42,Arka,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
43,All-In Analytics,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
44,"InsideSales.com, Inc.","San Mateo, CA",105000.0,Data_Scientist,Senior_level
45,Ten-X,"Belmont, CA",105000.0,Data_Scientist,Senior_level
46,Capgemini,"South San Francisco, CA",105000.0,Data_Scientist,Senior_level
47,Chegg,"Santa Clara, CA 95054",105000.0,Data_Scientist,Senior_level
48,Jobspring Partners,"San Jose, CA 95113 (Downtown area)",105000.0,Data_Scientist,Senior_level
49,Netflix,"Los Gatos, CA",105000.0,Data_Scientist,Senior_level
50,IMVU,"Redwood City, CA",105000.0,Data_Scientist,Senior_level
51,Dropbox,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
52,Intuit,"Mountain View, CA 94039",105000.0,Data_Scientist,Senior_level
53,Apartment List,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
54,Electronic Arts,"Redwood City, CA 94065",105000.0,Data_Scientist,Senior_level
55,Accenture,"San Francisco, CA 94105 (Financial District area)",105000.0,Data_Scientist,Senior_level
56,Microsoft,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
57,EOS DA,"Menlo Park, CA",105000.0,Data_Scientist,Senior_level
58,"Cisco Systems, Inc.","San Jose, CA",105000.0,Data_Scientist,Senior_level
59,Redfish Technology - High Tech Executive R...,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
60,Datameer,"San Francisco, CA 94103 (South Of Market area)",105000.0,Data_Scientist,Senior_level
61,Oracle,"Redwood Shores, CA",105000.0,Data_Scientist,Senior_level
62,NTT Security,"Palo Alto, CA 94303 (Duveneck-Saint Francis area)",105000.0,Data_Scientist,Senior_level
63,Lyft Corporate,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
64,Elevate Recruiting Group,"Palo Alto, CA",105000.0,Data_Scientist,Senior_level
65,Accenture,"San Francisco, CA 94105 (Financial District area)",105000.0,Data_Scientist,Senior_level
66,GE Careers,"San Ramon, CA 94583",105000.0,Data_Scientist,Senior_level
67,StyleSeat,"San Francisco, CA",105000.0,Data_Scientist,Senior_level
68,"Quality IT Source, LLC","San Francisco, CA",105000.0,Data_Scientist,Senior_level
69,GE Careers,"San Ramon, CA 94583",105000.0,Data_Scientist,Senior_level
70,Accenture,"San Francisco, CA 94105 (Financial District area)",105000.0,Data_Scientist,Senior_level
71,Zendrive,"San Francisco, CA",105000.0,Data_Scientist,Senior_level

In [93]:
## Data_scientist_SF_115_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$115,000&l=San+Francisco,+CA&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 115000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_115_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_115_entry

## Data_scientist_SF_115_mid

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$115,000&l=San+Francisco,+CA&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 115000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_115_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_115_mid

## Data_scientist_SF_115_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$115,000&l=San+Francisco,+CA&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 115000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_115_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_115_senior

,Company_name,Location,Salary,Title,Experience
0,Datameer,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
1,iSoft Solutions,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
2,Hired,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
3,"Apixio, Inc.","San Mateo, CA",115000.0,Data_Scientist,Senior_level
4,Symantec,"Mountain View, CA",115000.0,Data_Scientist,Senior_level
5,GE Careers,"San Ramon, CA 94583",115000.0,Data_Scientist,Senior_level
6,GE Careers,"San Ramon, CA 94583",115000.0,Data_Scientist,Senior_level
7,MachineZone,"Palo Alto, CA",115000.0,Data_Scientist,Senior_level
8,Sigmaways,"Palo Alto, CA",115000.0,Data_Scientist,Senior_level
9,Fitbit,"San Francisco, CA 94105 (Financial District area)",115000.0,Data_Scientist,Senior_level
10,Change.org,"San Francisco, CA 94103 (South Of Market area)",115000.0,Data_Scientist,Senior_level
11,LeanTaaS,"Santa Clara, CA",115000.0,Data_Scientist,Senior_level
12,TEKsystems,"San Francisco, CA 94103 (South Of Market area)",115000.0,Data_Scientist,Senior_level
13,Gap Inc. Corporate,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
14,"Cisco Systems, Inc.","San Jose, CA",115000.0,Data_Scientist,Senior_level
15,Workbridge Associates,"San Francisco, CA 94105 (Financial District area)",115000.0,Data_Scientist,Senior_level
16,Bayone Solutions Inc.,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
17,"InfoVision, Inc.","San Jose, CA",115000.0,Data_Scientist,Senior_level
18,Quantifind,"Menlo Park, CA",115000.0,Data_Scientist,Senior_level
19,eBay,"San Jose, CA",115000.0,Data_Scientist,Senior_level
20,Square,"San Francisco, CA 94103 (South Of Market area)",115000.0,Data_Scientist,Senior_level
21,Proofpoint,"Sunnyvale, CA 94089",115000.0,Data_Scientist,Senior_level
22,Demandbase,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
23,"Move, Inc.","Santa Clara, CA",115000.0,Data_Scientist,Senior_level
24,TrialPay,"Mountain View, CA",115000.0,Data_Scientist,Senior_level
25,Datameer,"San Francisco, CA 94103 (South Of Market area)",115000.0,Data_Scientist,Senior_level
26,Workbridge Associates,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
27,Chegg,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
28,Coupang,"Palo Alto, CA",115000.0,Data_Scientist,Senior_level
29,Netflix,"Los Gatos, CA",115000.0,Data_Scientist,Senior_level
...,...,...,...,...,...
32,Netflix,"Los Gatos, CA",115000.0,Data_Scientist,Senior_level
33,SanDisk,"Milpitas, CA",115000.0,Data_Scientist,Senior_level
34,BOLD,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
35,Samsung Electronics America,"Mountain View, CA",115000.0,Data_Scientist,Senior_level
36,All-In Analytics,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
37,"InsideSales.com, Inc.","San Mateo, CA",115000.0,Data_Scientist,Senior_level
38,Ten-X,"Belmont, CA",115000.0,Data_Scientist,Senior_level
39,Ancestry,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
40,Arka,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
41,Chegg,"Santa Clara, CA 95054",115000.0,Data_Scientist,Senior_level
42,Jobspring Partners,"San Jose, CA 95113 (Downtown area)",115000.0,Data_Scientist,Senior_level
43,Netflix,"Los Gatos, CA",115000.0,Data_Scientist,Senior_level
44,Capgemini,"South San Francisco, CA",115000.0,Data_Scientist,Senior_level
45,"Cisco Systems, Inc.","San Jose, CA",115000.0,Data_Scientist,Senior_level
46,Dropbox,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
47,Intuit,"Mountain View, CA 94039",115000.0,Data_Scientist,Senior_level
48,Electronic Arts,"Redwood City, CA 94065",115000.0,Data_Scientist,Senior_level
49,Apartment List,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
50,EOS DA,"Menlo Park, CA",115000.0,Data_Scientist,Senior_level
51,Accenture,"San Francisco, CA 94105 (Financial District area)",115000.0,Data_Scientist,Senior_level
52,Redfish Technology - High Tech Executive R...,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
53,NTT Security,"Palo Alto, CA 94303 (Duveneck-Saint Francis area)",115000.0,Data_Scientist,Senior_level
54,Lyft Corporate,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
55,Datameer,"San Francisco, CA 94103 (South Of Market area)",115000.0,Data_Scientist,Senior_level
56,Accenture,"San Francisco, CA 94105 (Financial District area)",115000.0,Data_Scientist,Senior_level
57,GE Careers,"San Ramon, CA 94583",115000.0,Data_Scientist,Senior_level
58,StyleSeat,"San Francisco, CA",115000.0,Data_Scientist,Senior_level
59,"Quality IT Source, LLC","San Francisco, CA",115000.0,Data_Scientist,Senior_level
60,GE Careers,"San Ramon, CA 94583",115000.0,Data_Scientist,Senior_level
61,Accenture,"San Francisco, CA 94105 (Financial District area)",115000.0,Data_Scientist,Senior_level

In [94]:
## Data_scientist_SF_125_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000&l=San+Francisco,+CA&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_125_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_125_entry

## Data_scientist_SF_125_mid

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000&l=San+Francisco,+CA&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_125_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_125_mid

## Data_scientist_SF_125_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$125,000&l=San+Francisco,+CA&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 125000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_125_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_125_senior

,Company_name,Location,Salary,Title,Experience
0,Datameer,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
1,Hired,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
2,"Apixio, Inc.","San Mateo, CA",125000.0,Data_Scientist,Senior_level
3,Symantec,"Mountain View, CA",125000.0,Data_Scientist,Senior_level
4,GE Careers,"San Ramon, CA 94583",125000.0,Data_Scientist,Senior_level
5,GE Careers,"San Ramon, CA 94583",125000.0,Data_Scientist,Senior_level
6,Sigmaways,"Palo Alto, CA",125000.0,Data_Scientist,Senior_level
7,Change.org,"San Francisco, CA 94103 (South Of Market area)",125000.0,Data_Scientist,Senior_level
8,LeanTaaS,"Santa Clara, CA",125000.0,Data_Scientist,Senior_level
9,TEKsystems,"San Francisco, CA 94103 (South Of Market area)",125000.0,Data_Scientist,Senior_level
10,Gap Inc. Corporate,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
11,"Cisco Systems, Inc.","San Jose, CA",125000.0,Data_Scientist,Senior_level
12,"InfoVision, Inc.","San Jose, CA",125000.0,Data_Scientist,Senior_level
13,Workbridge Associates,"San Francisco, CA 94105 (Financial District area)",125000.0,Data_Scientist,Senior_level
14,Bayone Solutions Inc.,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
15,eBay,"San Jose, CA",125000.0,Data_Scientist,Senior_level
16,Square,"San Francisco, CA 94103 (South Of Market area)",125000.0,Data_Scientist,Senior_level
17,Demandbase,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
18,Proofpoint,"Sunnyvale, CA 94089",125000.0,Data_Scientist,Senior_level
19,Datameer,"San Francisco, CA 94103 (South Of Market area)",125000.0,Data_Scientist,Senior_level
20,TrialPay,"Mountain View, CA",125000.0,Data_Scientist,Senior_level
21,Chegg,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
22,Workbridge Associates,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
23,Netflix,"Los Gatos, CA",125000.0,Data_Scientist,Senior_level
24,Symantec,"Mountain View, CA",125000.0,Data_Scientist,Senior_level
25,Adobe,"San Jose, CA",125000.0,Data_Scientist,Senior_level
26,Netflix,"Los Gatos, CA",125000.0,Data_Scientist,Senior_level
27,BOLD,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
28,SanDisk,"Milpitas, CA",125000.0,Data_Scientist,Senior_level
29,Ancestry,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
30,Arka,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
31,All-In Analytics,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
32,"InsideSales.com, Inc.","San Mateo, CA",125000.0,Data_Scientist,Senior_level
33,Capgemini,"South San Francisco, CA",125000.0,Data_Scientist,Senior_level
34,Chegg,"Santa Clara, CA 95054",125000.0,Data_Scientist,Senior_level
35,Jobspring Partners,"San Jose, CA 95113 (Downtown area)",125000.0,Data_Scientist,Senior_level
36,Netflix,"Los Gatos, CA",125000.0,Data_Scientist,Senior_level
37,Dropbox,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
38,Intuit,"Mountain View, CA 94039",125000.0,Data_Scientist,Senior_level
39,Accenture,"San Francisco, CA 94105 (Financial District area)",125000.0,Data_Scientist,Senior_level
40,EOS DA,"Menlo Park, CA",125000.0,Data_Scientist,Senior_level
41,"Cisco Systems, Inc.","San Jose, CA",125000.0,Data_Scientist,Senior_level
42,Redfish Technology - High Tech Executive R...,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
43,Datameer,"San Francisco, CA 94103 (South Of Market area)",125000.0,Data_Scientist,Senior_level
44,Accenture,"San Francisco, CA 94105 (Financial District area)",125000.0,Data_Scientist,Senior_level
45,GE Careers,"San Ramon, CA 94583",125000.0,Data_Scientist,Senior_level
46,StyleSeat,"San Francisco, CA",125000.0,Data_Scientist,Senior_level
47,GE Careers,"San Ramon, CA 94583",125000.0,Data_Scientist,Senior_level
48,Accenture,"San Francisco, CA 94105 (Financial District area)",125000.0,Data_Scientist,Senior_level

In [95]:
## Data_scientist_SF_140_entry

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$140,000&l=San+Francisco,+CA&radius=50&explvl=entry_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 140000
    experience = "Entry_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_140_entry = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_140_entry

## Data_scientist_SF_140_mid

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$140,000&l=San+Francisco,+CA&radius=50&explvl=mid_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 140000
    experience = "Mid_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_140_mid = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_140_mid

## Data_scientist_SF_140_senior

driver = webdriver.Chrome()
url = "https://www.indeed.com/jobs?q=%22Data+Scientist%22+$140,000&l=San+Francisco,+CA&radius=50&explvl=senior_level&limit=100"
driver.get(url)
# wait one second
sleep(1)
#grab the page source
html = driver.page_source
# BeautifulSoup it!
html = BeautifulSoup(html)
driver.close()

# I'm going to create my empty df first
import pandas as pd
dcarea_job1 = pd.DataFrame(columns=["Company_name"])
dcarea_job2 = pd.DataFrame(columns=["Location","Salary", "Title","Experience"])
# loop through each entry
for company in html.find_all('span', {'class':'company'}):
    name_comp = company.text
    dcarea_job1.loc[len(dcarea_job1)]=[name_comp]
    
for location in html.find_all('span', {'class':'location'}):
    loc_comp = location.text
    salary = 140000
    experience = "Senior_level"
    # try to find the number of bookings
    title = "Data_Scientist"
    dcarea_job2.loc[len(dcarea_job2)]=[loc_comp,salary,title,experience]

dcarea_job1['Company_name'] = dcarea_job1['Company_name'].str.replace('\n', '')
dcarea_job2['Location'] = dcarea_job2['Location'].str.replace('\n', '')

result_SF_140_senior = pd.concat([dcarea_job1, dcarea_job2], axis=1)

result_SF_140_senior

,Company_name,Location,Salary,Title,Experience
0,Hired,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
1,Sigmaways,"Palo Alto, CA",140000.0,Data_Scientist,Senior_level
2,Change.org,"San Francisco, CA 94103 (South Of Market area)",140000.0,Data_Scientist,Senior_level
3,TEKsystems,"San Francisco, CA 94103 (South Of Market area)",140000.0,Data_Scientist,Senior_level
4,Gap Inc. Corporate,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
5,"Cisco Systems, Inc.","San Jose, CA",140000.0,Data_Scientist,Senior_level
6,Workbridge Associates,"San Francisco, CA 94105 (Financial District area)",140000.0,Data_Scientist,Senior_level
7,Bayone Solutions Inc.,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
8,eBay,"San Jose, CA",140000.0,Data_Scientist,Senior_level
9,Demandbase,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
10,TrialPay,"Mountain View, CA",140000.0,Data_Scientist,Senior_level
11,Datameer,"San Francisco, CA 94103 (South Of Market area)",140000.0,Data_Scientist,Senior_level
12,Workbridge Associates,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
13,"InsideSales.com, Inc.","San Mateo, CA",140000.0,Data_Scientist,Senior_level
14,Ancestry,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
15,Arka,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
16,Jobspring Partners,"San Jose, CA 95113 (Downtown area)",140000.0,Data_Scientist,Senior_level
17,Capgemini,"South San Francisco, CA",140000.0,Data_Scientist,Senior_level
18,"Cisco Systems, Inc.","San Jose, CA",140000.0,Data_Scientist,Senior_level
19,Intuit,"Mountain View, CA 94039",140000.0,Data_Scientist,Senior_level
20,EOS DA,"Menlo Park, CA",140000.0,Data_Scientist,Senior_level
21,Accenture,"San Francisco, CA 94105 (Financial District area)",140000.0,Data_Scientist,Senior_level
22,Redfish Technology - High Tech Executive R...,"San Francisco, CA",140000.0,Data_Scientist,Senior_level
23,Accenture,"San Francisco, CA 94105 (Financial District area)",140000.0,Data_Scientist,Senior_level
24,GE Careers,"San Ramon, CA 94583",140000.0,Data_Scientist,Senior_level
25,GE Careers,"San Ramon, CA 94583",140000.0,Data_Scientist,Senior_level
26,Accenture,"San Francisco, CA 94105 (Financial District area)",140000.0,Data_Scientist,Senior_level

## Data Science dataset

In [141]:
result_DC_Data_Scientist = pd.concat([result_DC_75_entry,result_DC_75_mid,result_DC_75_senior,result_DC_90_entry,result_DC_90_mid,result_DC_90_senior,result_DC_105_entry,result_DC_105_mid,result_DC_105_senior,result_DC_110_entry,result_DC_110_mid,result_DC_110_senior,result_DC_125_entry,result_DC_125_mid,result_DC_125_senior])

In [142]:
result_DC_Data_Scientist.shape

(717, 5)

In [143]:
result_NY_Data_Scientist = pd.concat([result_NY_85_entry,result_NY_85_mid,result_NY_85_senior,result_NY_100_entry,result_NY_100_mid,result_NY_100_senior,result_NY_115_entry,result_NY_115_mid,result_NY_115_senior,result_NY_125_entry,result_NY_125_mid,result_NY_125_senior,result_NY_140_entry,result_NY_140_mid,result_NY_140_senior])

In [144]:
result_NY_Data_Scientist.shape

(787, 5)

In [145]:
result_SF_Data_Scientist = pd.concat([result_SF_90_entry,result_SF_90_mid,result_SF_90_senior,result_SF_105_entry,result_SF_105_mid,result_SF_105_senior,result_SF_115_entry,result_SF_115_mid,result_SF_115_senior,result_SF_125_entry,result_SF_125_mid,result_SF_125_senior,result_SF_140_entry,result_SF_140_mid,result_SF_140_senior])

In [146]:
result_SF_Data_Scientist.shape

(1054, 5)

In [152]:
result_SF_Data_Scientist.to_csv('result_SF_Data_Scientist.csv', encoding='utf-8')

In [153]:
result_NY_Data_Scientist.to_csv('result_NY_Data_Scientist.csv', encoding='utf-8')

In [154]:
result_DC_Data_Scientist.to_csv('result_DC_Data_Scientist.csv', encoding='utf-8')

In [155]:
result_Data_Scientist = pd.concat([result_DC_Data_Scientist,result_NY_Data_Scientist,result_SF_Data_Scientist])

In [156]:
result_Data_Scientist.shape

(2558, 5)

In [157]:
result_Data_Scientist.to_csv('result_Data_Scientist.csv', encoding='utf-8')